button{
  color: $white-color;
  font-size: rem(16);
  background-color: $theme-blue;
  padding: rem(15) rem(20);
  @include transition(all,0.5s,ease-in-out);
  box-shadow: 0 0px 10px 0 rgba(0,0,0,0.15);
  border: 0;
  border-radius: rem(6);
  @media screen and (max-width: 599px) {
    font-size: rem(20);
}
  &:hover{
      background-color: $hover-color;
  }
}
