.container{
  max-width: 85%;
  margin: auto;
  @media screen and (max-width: 600px) {
    max-width: 90%;
  }
}

.form-group {
  width: 100%;
  max-width: 100%;
  flex: 0 1 auto;

  .form-group {
    margin-bottom: 0;
  }

  &.form-link {
    text-align: left;

    span {
      color: #77c3ec;
      cursor: pointer;
      display: block;
      text-align: left;

      a {
        text-decoration: underline;
      }
    }
  }


  &.form-sub-group {
    display: flex;
    justify-content: space-between;
    // @media screen and (max-width: 599px){
    //   flex-direction: column;    
    // }
  }

  &.form-sub-group-colomn {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &.form-toggle-wrap {
    display: flex;
    align-items: center;
    margin-bottom: rem(26);

    label {
      font-weight: $font-bold;
      color: $theme-black;
      font-size: rem(16);
      margin-bottom: 0;
    }

    &.loader {
      height: rem(40);

      .toggle-wrap .toggleSwitch {
        opacity: 0;
      }
    }
  }

  &.form-group-file-upload {
    // background-color: #f4f4ff;
    border: 1px solid #8da1b9;
    border-style: dashed;
    border-radius: rem(6);

    &.error-info {
      border: 1px solid $error-color;
      border-style: dashed;
      background-color: #fff7f7;

      .form-warning {
        top: auto;
        bottom: rem(60);
      }
    }

    .file-upload-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      flex-direction: column;
      padding: rem(10);
      cursor: pointer;
      height: 100%;

      input {
        width: 100%;
        height: 100% !important;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
      }

      span {
        color: $theme-black;

        &:first-child {
          font-size: rem(80);
          color: #6cce6c;
        }
      }
    }
  }

  &.form-group-select {
    position: relative;
    cursor: pointer;

    &.loader {
      &::after {
        display: none;
      }
    }

    &::after {
      content: '';
      position: absolute;
      background-image: url(../../images/arrow-ash.svg);
      width: rem(17);
      height: rem(17);
      @include flexbox-center();
      top: rem(12);
      right: rem(12);
      transform: rotate(-90deg);
      background-size: cover;
      pointer-events: none;
    }
  }

  &.uploaded-file-wrap {
    flex-direction: column;
  }

  label {
    color: $label-color;
    font-size: rem(14);
    margin-bottom: rem(10);
  }

  p {
    line-height: rem(25);
    margin-top: rem(7);
  }

  input {
    border-radius: 6px;
    border: 1px solid $input-border-color;
    line-height: rem(16);
    height: rem(46);
    padding: 0 rem(15);

    &.placeholder-right {

      /* webkit solution */
      &::-webkit-input-placeholder {
        text-align: right;
        font-size: rem(11);
      }

      /* mozilla solution */
      &:-moz-placeholder {
        text-align: right;
        font-size: rem(11);
      }
    }
  }

  &.form-group-date {
    position: relative;
    -webkit-appearance: none;
    border-radius: 6px;
    border: 1px solid $input-border-color;

    input {
      border: 0;
      cursor: pointer;
    }

    &::-webkit-calendar-picker-indicator,
    &::-webkit-inner-spin-button {
      opacity: 0;
      cursor: pointer;
    }

    &::after {
      position: absolute;
      content: '';
      background-image: url(../../images/calender-button.svg);
      width: rem(19);
      height: rem(19);
      right: rem(10);
      top: rem(14);
      background-size: contain;
      pointer-events: none;
    }

    &::before {
      position: absolute;
      content: '';
      width: rem(42);
      height: rem(46);
      background-color: #f4f4f4;
      border-radius: 0 6px 6px 0;
      top: 0;
      right: 0;
      pointer-events: none;
    }
  }

  input.time {
    position: relative;
    -webkit-appearance: none;

    &::-webkit-calendar-picker-indicator,
    &::-webkit-inner-spin-button {
      opacity: 0;
      cursor: pointer;
    }

    &::after {
      position: absolute;
      content: '';
      background-image: url(../../images/time-button.svg);
      width: rem(19);
      height: rem(19);
      right: rem(10);
      background-size: contain;
      pointer-events: none;
    }

    &::before {
      position: absolute;
      content: '';
      width: rem(42);
      height: rem(45);
      background-color: #f4f4f4;
      top: 0;
      right: 0;
    }
  }


  select {
    width: 100%;
    border-radius: 6px;
    border: 1px solid $input-border-color;
    line-height: rem(16);
    height: rem(46);
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    // text-overflow: '';
    padding: 0 rem(35) 0 rem(15);
    background-color: $white-color;
  }

  address {
    border-radius: 6px;
    border: 1px solid $input-border-color;
    line-height: rem(16);
  }

  textarea {
    width: 100%;
    border-radius: 6px;
    border: 1px solid $input-border-color;
    line-height: rem(16);
    resize: none;
    padding: rem(15);
  }

  &.form-group-split {
    max-width: calc(50% - rem(12));
    flex: 0 1 calc(50% - rem(12));

    @media screen and (max-width: 479px) {
      width: 100%;
      max-width: 100%;
      flex: 0 1 auto;
    }
  }

  &.form-group-triplet {
    padding-bottom: rem(25);

    &:last-child {
      padding-bottom: rem(0);
    }

    .tripet-wrap {
      display: flex;
      align-items: center;

      .quatity-wrap {
        &.quatity-cross span {
          position: relative;

          &::after {
            position: absolute;
            content: 'x';
            width: rem(20);
            height: rem(20);
            bottom: rem(-5);
            right: rem(-20);
            font-size: rem(14);
          }
        }

        &.quatity-equalto span {
          position: relative;

          &::after {
            position: absolute;
            content: '=';
            width: rem(20);
            height: rem(20);
            bottom: rem(-5);
            right: rem(-20);
            font-size: rem(18);
          }
        }

        p {
          width: 100%;
          margin: 0;
          padding: 0;
          display: inline-block;
          height: rem(25);
          margin-bottom: 0 !important;
          margin-top: rem(10);
        }

        p {
          width: 100%;
          margin: 0;
          padding: 0;
          display: inline-block;
          height: rem(25);
          margin-bottom: 0 !important;
          margin-top: rem(10);
        }

        input {
          border: 0;
          width: 100%;
        }

        label {
          margin-bottom: rem(10);
        }
      }
    }
  }

}

h2 {
  font-weight: $font-bold;

  span {
    font-weight: $font-bold;
  }

}

h3 {
  font-size: rem(20);
  font-weight: $font-bold;
  margin-bottom: rem(22);

  span {
    font-size: rem(20);
    font-weight: $font-bold;
  }
}

h4 {
  font-weight: $font-bold;
  margin-bottom: rem(22);

  span {
    font-weight: $font-bold;
    margin-bottom: rem(22);
  }
}

// ===== popup ====== //

.popup-main-wrap {
  height: 100vh;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background-color: rgba(71, 70, 80, 0.51);
  @include flexbox-center();
  z-index: 99;

  .popup-wrap {
    background-color: $white-color;
    max-width: rem(782);
    max-height: rem(507);
    width: rem(782);
    height: rem(507);
    padding: rem(25);
    border-radius: rem(6);
    margin: auto;

    .popup-close-btn {
      position: absolute;
      top: rem(20);
      right: rem(20);
      cursor: pointer;

      &:hover {
        opacity: 0.5;
        @include transition(all, 0.3s, ease-in-out);
      }
    }


    form {
      .form-group {
        margin-bottom: rem(20);

        input {
          height: rem(50);
        }
      }

      .module-wrap {
        table {
          border: 1px solid $input-border-color;
          border-radius: rem(6);
          display: grid;
          margin-bottom: rem(30);

          thead {
            tr {
              padding: rem(12) rem(25);
              border-bottom: 1px solid $input-border-color;
            }
          }

          tbody {
            tr {
              margin: 0 rem(25);
              padding: rem(12) 0;
              border-bottom: 1px solid $input-border-color;

              &:last-child {
                border-bottom: 0;
              }

              input {
                cursor: pointer;
              }
            }
          }
        }

        tr {
          display: flex;
          justify-content: space-between;

          td,
          th {
            width: 25%;
            text-align: center;
            padding: 0;
          }
        }
      }

      .module-bottom-wrap {
        text-align: center;

        button {
          height: rem(46);
          width: auto;

          &:last-child {
            margin-left: rem(20);
          }

          span {
            font-weight: $font-semibold;
          }
        }
      }
    }
  }

  &.common-delete-popup-wrap {
    width: calc(100vw - rem(8));
    height: 100%;

    .popup-wrap {
      width: rem(466);
      height: auto;
      max-height: unset;
      position: relative;

      .module-wrap {
        margin-top: rem(21);
        text-align: center;
        width: 100%;

        .delete-image-wrap {
          margin-bottom: rem(15);

          svg {
            width: rem(87);
            height: rem(94);

            path {
              fill: #00aa00;
            }
          }
        }

        .delete-content-wrap {
          margin-bottom: rem(50);

          h3 {
            font-size: rem(26);
            margin-bottom: rem(15);
            font-weight: $font-regular;
          }

          p {
            line-height: rem(24);
          }
        }
      }

      .module-bottom-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        button {
          width: auto;

          &.btn-gradient--red {
            span {
              color: $theme-black;
            }
          }
        }
      }
    }
  }

  &.common-file-upload-wrap {
    .popup-wrap {
      .module-wrap {
        h3 {
          font-weight: $font-regular;
        }

        p {
          padding: rem(5) rem(5) rem(5) rem(10);
          border: 1px solid $input-border-color;
          border-radius: rem(10);
          width: auto;
          height: rem(45);
          display: flex;
          align-items: center;
          margin-bottom: rem(20);
          justify-content: space-between;

          span {
            width: rem(25);
            height: rem(25);
            border-radius: rem(10);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            img {
              width: rem(10);
              height: rem(10);
            }

            &:hover {
              background-color: rgba(216, 30, 30, 0.10);
            }
          }
        }

        .form-group-file-upload {
          .file-upload-wrap {
            img {
              width: rem(105);
              height: rem(105);
              margin-bottom: rem(20);
            }

            span {
              margin-bottom: rem(30);
              color: $ash-color;
              font-weight: $font-semibold;

              b {
                color: $theme-color;
              }
            }
          }
        }
      }

      .module-bottom-wrap {
        justify-content: end;
      }
    }
  }
}

// ====== custom checkbox ===== //

.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 14px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: rem(20);
    width: rem(20);
    border: 1px solid #b1b4bf;
    border-radius: rem(5);
  }
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked~.checkmark:after {
  display: block;
}

.custom-checkbox input:checked~span {
  background-color: $theme-color;
}

.custom-checkbox .checkmark:after {
  left: 5px;
  top: 2px;
  width: 3px;
  height: 7px;
  border: solid $white-color;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}

// ====== custom checkbox ===== //


.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mb-20 {
  margin-bottom: rem(20);
}

.mb-22 {
  margin-bottom: rem(22);
}

.mb-30 {
  margin-bottom: rem(30);
}

.mb-40 {
  margin-bottom: rem(40);
}

.mt-20 {
  margin-top: rem(20);
}

.pt-20 {
  padding-top: rem(20);
}

.bt-1 {
  border-top: 1px solid $input-border-color;
}

.bb-1 {
  border-bottom: 1px solid $input-border-color;
}

.bt-0 {
  border-top: 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.pl-0 {
  padding-left: 0;
}

.pl-20 {
  padding-left: rem(20);
}

.pr-20 {
  padding-right: rem(20);
}

.pr-0 {
  padding-right: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-20 {
  padding-bottom: rem(20);
}

.pb-30 {
  padding-bottom: rem(30);
}

.p-0 {
  padding: 0;
}

.p-20 {
  padding: rem(20);
}

.p-30 {
  padding: rem(30);
}

.mr-20 {
  margin-right: rem(20);
}

.mr-30 {
  margin-right: rem(30);
}


input[type=file],
/* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button {
  /* chromes and blink button */
  cursor: pointer;
}


/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $white-color inset !important;
  background-color: $white-color !important;
}

select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $white-color inset !important;
  background-color: $white-color !important;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: $white-color !important;
  cursor: not-allowed;
}

// edge password eye remove 

input::-ms-reveal,
input::-ms-clear {
  display: none;
}


// =========== loader =========== //

.loader {
  position: relative;

  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9;
    // will-change: transform;
    animation: placeholderSkeleton 1s linear infinite forwards;
    background: #f6f7f8;
    background-image: -webkit-gradient(linear, left center, right center, from(#f6f7f8), color-stop(.2, #edeef1), color-stop(.4, #f6f7f8), to(#f6f7f8));
    // background-image: -webkit-linear-gradient(left,#f6f7f8 0,#edeef1 20%,#f6f7f8 40%,#f6f7f8 100%);
    // background-repeat: no-repeat;
    background-size: 500px 100%;
  }

  @keyframes placeholderSkeleton {
    0% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      background-position: -468px 0
    }

    to {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      background-position: 468px 0
    }
  }
}

p.loader {
  width: 40%;
  min-width: 100px;
  height: rem(20);
  border-radius: rem(20);
  font-size: 0 !important;
}

.loader {
  P {
    width: 40%;
    min-width: 100px;
    height: rem(20);
    border-radius: rem(20);
    font-size: 0 !important;
  }
}

label.loader,
h5.loader,
small.loader {
  width: 25%;
  min-width: 80px;
  height: rem(30);
  border-radius: rem(20);
  font-size: 0 !important;

  sup {
    opacity: 0;
  }
}

.loader {

  label,
  h5,
  small {
    width: 25%;
    min-width: 80px;
    height: rem(20);
    border-radius: rem(20);
    font-size: 0 !important;

    sup {
      opacity: 0;
    }
  }
}

.loader_round::after {
  border-radius: 50%;
}

input.loader {
  animation: placeholderSkeleton 1s linear infinite forwards;
  background: #f6f7f8;
  background-image: -webkit-gradient(linear, left center, right center, from(#f6f7f8), color-stop(.2, #edeef1), color-stop(.4, #f6f7f8), to(#f6f7f8));
  background-repeat: no-repeat;
  background-size: 500px 100%;
  border: 0;

  &::placeholder {
    opacity: 0;
  }
}

body.modal-open {
  overflow: hidden;
}

