/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	// font-size: 100%;
	// font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	color: #4B4B4B;
	&::-webkit-scrollbar-track
	{
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		border-radius: 20px;
		background-color: #F5F5F5;
	}
	
	&::-webkit-scrollbar
	{
		width: 5px;
		background-color: #F5F5F5;
	}
	&::-webkit-scrollbar-thumb
	{
		border-radius: 20px;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
		background-color: #cccccc;
	}
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//Box Sizing

html {
  box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
	outline: 0;
}

strong, b{
	font-weight: bold;
}

hr.spacer {
	border: 0;
  margin: 1rem 0;
  &.no-space{
    margin: 0;
  }
	&.line{
		border-bottom: 1px solid #e0e0e0;
	}
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-style: normal;
	word-break: break-word;
}
p,span,input,label,button,li,small{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
	word-break: break-word;
}
a{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
}
img{
	width: 100%;
}
sup{
	color: #ff4b4b;
	font-size: 15px;
	top: 0em;
	right: -2px;
}

input{
	&.form-control,&.form-check-input{
		outline: none;
		&:focus{
			outline: none; 
			box-shadow: none;
		}
	}
}


button{
	&.btn-primary{
		outline: none!important;
		box-shadow: none!important;
		&:focus{
			outline: none!important;
			box-shadow: none!important;
		}
	}
}


.form-select{
	outline: none;
	box-shadow: none;
		&:focus{
			outline: none; 
			box-shadow: none;
		}
}

*{
	&:focus{
		outline: none!important;
		box-shadow: none!important;
	}
}

ul{
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
}