@include smallmobile {
  html {
    font-size: 2.3vw;
  }
}

@include mobile {
  html {
    font-size: 1.8vw;
  }
}

@include smalltablet {
  html {
    font-size: 1.4vw;
  }
}

@include tablet {
  html {
    font-size: 1vw;
  }
}
@include desktop {
  html {
    font-size: 0.9vw;
  }
}

@include widescreen {
  html {
    font-size: 0.8vw;
  }
}

@include hd-screen {
  html {
    font-size: 0.8vw;
  }
}
@include wxga-screen {
  html {
    font-size: 0.8vw;
  }
}

