$teal-blue: #008ea9;
$dark-teal: #003c4c;
$blue-300:#004456;
$orangey-yellow: #fcb525;
$camo-green: #272312;
$tealish: #22b3b8;
$tomato: #eb5546;
$light-blue-grey: #d8edf1;
$aqa: #effcff;
$grey: #87969a;
$gray-100: #797979;
$bright-orange: #f9c03b;
$gray-200: #cfd2d3;
$deep-sea-blue: #006580;
$cool-grey: #87969a;
$green: #00a988;
$yellow: #f9c03b;
$outline: #3369e2;
$gray-dark: #525252;
$gunmetal:#53575a;
$blush:#f4887d;
$tiffany-blue:#64dde2;


// color variables

$ash-color:#8588a2;
$black-color:#000000;
$white-color:#ffffff;
$theme-color:#3455db;
$theme-black:#4B4B4B;
$border-color:#505253;
$orange-theme-color:#ff4b4b;
$background-color:#f3f5f6;
$label-color:#97999b;
$yellow-color:#f8ff37;
$error-color:#e02121;
$header-border-color:#9eafc4;
$background-color-dashboard: #d8f1ff;
$input-border-color:#ccd2e4;
$orange-theme:#ff0000;
$green-theme: #0a0;
$purple-theme:#b500b5;
$dark-green-theme:#14855f;
$table-head-color:#92daf6;
$theme-blue:#1C62A6;
$hover-color:#4b4b4b;

// font family

$font-family: 'Roboto', sans-serif;

//font weight
$font-regular:400;
$font-medium:500;
$font-semibold:600;
$font-bold:700;