.banner-wrap{
    height: 100vh;
    background-image: url(../images/banner.png);
    margin-top: rem(-146);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
        font-size: rem(79);
        text-align: center;
        font-weight: $font-regular;
        margin-bottom: rem(55);
        line-height: rem(75);
        @media screen and (max-width: 600px) {
            font-size: rem(60);
        }
        span{
            font-size: rem(79);
            font-weight: $font-bold;
            display: block;
            @media screen and (max-width: 600px) {
                font-size: rem(60);
            }
        }
    }
    .banner-form-wrap{
        form{
            display: flex;
            align-items: center;
            @media screen and (max-width: 600px) {
                flex-direction: column;
            }
            .custom-form-wrap{
                background-color: $white-color;
                display: flex;
                align-items: center;
                height: rem(107);
                border-radius: rem(6) rem(0) rem(0) rem(6);
                padding: rem(25);
                @media screen and (max-width: 600px) {
                    flex-direction: column;
                    height: auto;
                    padding: 0;
                    border-radius: rem(0);
                    margin-bottom: rem(30);
                    background-color: transparent;
                    width: 100%;
                }
                .form-group{
                    width: rem(300);
                    margin-right: rem(25);
                    padding-right: rem(25);
                    border-right: 1px solid $hover-color;
                    position: relative;
                    margin-bottom: 0;
                    @media screen and (max-width: 767px) {
                        width: rem(230);
                    }
                    @media screen and (max-width: 600px) {
                        width: 100%;
                        height: rem(80);
                        padding:rem(15) rem(30);
                        margin-right: 0;
                        border-right: 0;
                        background-color: $white-color;
                        border-radius: rem(6);
                        margin-bottom: rem(10);
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                    label{
                        display: block;
                        font-size: rem(12);
                        color: $theme-blue;
                        margin-bottom: 0;
                        @media screen and (max-width: 600px) {
                            font-size: rem(16);
                            margin-bottom: rem(10);
                        }
                    }
                    input{
                        border: 0;
                        padding: 0;
                        font-size: rem(20);
                        color: $hover-color;
                        height: auto;
                        @media screen and (max-width: 600px) {
                            font-size: rem(24);
                        }
                        &::placeholder{
                            color: $hover-color;
                            font-size: rem(20);
                            @media screen and (max-width: 600px) {
                                font-size: rem(24);
                            }
                        }
                    }
                    span{
                        position: absolute;
                        top: rem(10);
                        right: rem(20);
                        color: $theme-blue;
                        font-size: rem(22);
                        @media screen and (max-width: 600px) {
                            top: rem(15);
                        }
                    }
                }
            }
            button{
                height: rem(107);
                color: rgba(255,255,255,0.59);
                border-radius: rem(0) rem(6) rem(6) rem(0);
                border: 0;
                box-shadow: none;
                width: rem(215);
                font-weight: $font-regular;
                letter-spacing: 1px;
                font-size: rem(20);
                @media screen and (max-width: 600px) {
                    height: rem(75);
                    border-radius:rem(6);
                }
                &:hover{
                    color: $white-color;
                }
            }
        }
    }
}