.contact-container{
    width: 80%;
    margin: auto;
    @media screen and (max-width: 991px) {
        width: 100%;
    }
}
.contactus-wrap{
    padding: rem(200) 0 rem(150) 0;
    background-color: #E4E4E4;
    margin-top: rem(-146);
    position: relative;
    overflow: hidden;
    >img.contact-shape{
        position: absolute;
        top: rem(-50);
        left: 0;
        height: rem(600);
        width: rem(1000);
    }
    .contact-container{
        @media screen and (max-width: 991px) {
           text-align: center;
        }
        h1{
            font-size: rem(51);
            font-weight: $font-bold;
            color:$theme-blue;
            margin-bottom: rem(40);
        }
        ul{
            display: flex;
            @media screen and (max-width: 991px) {
                align-items: center;
                justify-content: center;
             }
            li{
                font-weight: $font-medium;
                font-size: rem(20);
                margin-right: rem(30);
                position: relative;
                a{
                    cursor: pointer;
                    color: $theme-blue;
                }
                &::after{
                    content: '';
                    position: absolute;
                    width: rem(10);
                    height: 1px;
                    background-color: $hover-color;
                    top: rem(10);
                    right: rem(-20);
                }
                &:last-child{
                    cursor: auto;
                    &::after{
                        content: none;
                    }
                }
                &.active{
                    color: $theme-blue;
                }

            }
        }
    }
}

.contact-form-main-wrap{
    padding: rem(150) 0;
    @media screen and (max-width: 767px) {
        padding: rem(100) 0;
    }
    .contact-item-wrap{
        display: flex;
        align-items: center;
        margin-bottom: rem(130);
        @media screen and (max-width: 767px) {
            flex-direction: column;
            margin-bottom: rem(60);
        }
        .contact-item{
            width: 33.33%;
            display: flex;
            align-items: center;
            @media screen and (max-width: 767px) {
                width:100%;
                margin-bottom: rem(20);
            }
            .contact-item-right{
                margin-right: rem(30);
                span{
                    width: rem(100);
                    height: rem(100);
                    background-color: #F1F8FF;
                    border-radius: rem(6);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        width: rem(50);
                        height: rem(50);
                    }
                }
            }
            .contact-item-left{
                h3{
                    color: $theme-blue;
                    margin-bottom: rem(10);
                }
                p{
                    color: #616C75;
                    font-size: rem(18);
                    margin-bottom: rem(10);
                    a{
                        color: #616C75;
                        font-size: rem(18);
                    }
                }
            }
        }
    }

    .contact-form-wrap{
        text-align: center;
        h3{
            color: $theme-blue;
            font-size: rem(42);
            margin-bottom: rem(20);
            font-weight: $font-bold;
        }
        p{
            font-size: rem(16);
            color: #454D5D;
            line-height: rem(30);
            width: 50%;
            margin: auto;
            margin-bottom: rem(50);
            @media screen and (max-width: 767px) {
                width:100%;
            }
        }
        form{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            @media screen and (max-width: 599px) {
               flex-direction: column;
            }
            .form-group{
                margin-bottom: rem(20);
                &:last-child{
                    margin-bottom: 0;
                }
                input{
                    width: 100%;
                    background-color: #F1F8FF;
                    border: 0;
                }
                textarea{
                    width: 100%;
                    background-color: #F1F8FF;
                    border: 0;
                }
            }
            button{
                border-radius: rem(25);
                padding: rem(20) rem(40);
            }
            .contact-form-right{
                width: calc(40% - 10px);
                @media screen and (max-width: 599px) {
                    width: 100%;
                    margin-bottom: rem(20);
                }
            }
            .contact-form-left{
                width: calc(60% - 10px);
                @media screen and (max-width: 599px) {
                    width: 100%;
                }
            }
        }
    }
}

.error-main-wrap{
    padding: rem(200) 0;
    background-image: url(../images/our-service-stripe.svg);
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    @media screen and (max-width: 767px) {
        padding: rem(100) 0;
    }
    .container{
        display: flex;
        align-items: center;
        flex-direction: column;
        img.error-image{
            width: rem(500);
            object-fit: contain;
            margin-bottom: rem(100);
        }   
        button{
            display: flex;
            align-items: center;
            a{
                color: $white-color;
            }
            img{
                width: rem(30);
                min-width: rem(30);
                margin-right: rem(15);
                transform: rotate(180deg);
            }
        }
    }
}