footer{
    background-color: $hover-color;
    .footer-wrap{
        padding: rem(45) 0;
        display: flex;
        border-bottom: 1px solid #F0E3D0;
        @media screen and (max-width: 767px) {
            flex-wrap: wrap;
        }
        .footer-logo-wrap{
            width: 20%;
            @media screen and (max-width: 767px) {
                width: 50%;
            }
            @media screen and (max-width: 480px) {
                width: 100%;
                text-align: center;
                margin-bottom: rem(35);
            }
            >img{
                width: rem(155);
                margin-bottom: rem(30);
            }
            ul{
                display: flex;
                align-items: center;
                @media screen and (max-width: 480px) {
                   justify-content: center;
                }
                li{
                    &:last-child{
                        a{
                            margin-right: 0;
                        }
                    }
                    a{
                        padding: rem(10);
                        border: 1px solid $white-color;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: rem(48);
                        height: rem(48);
                        min-width: rem(48);
                        min-height: rem(48);
                        margin-right: rem(15);
                        &:hover{
                            background-color: $theme-blue;
                        }
                        img{
                            width: rem(20);
                            height: rem(20);
                            object-fit: contain;
                        }
                    }
                }
            }
        }   
        .quick-link-wrap{
            width: 15%;
            margin-top: rem(30);
            @media screen and (max-width: 767px) {
                width: 50%;
            }
            @media screen and (max-width: 480px) {
                width: 100%;
                text-align: center;
             }
            h3{
                font-size: rem(18);
                font-weight: $font-bold;
                margin-bottom: rem(70);
                position: relative;
                color: $white-color;
                @media screen and (max-width: 480px) {
                    font-size: rem(22);
                    margin-bottom: rem(50);
                }
                &::after{
                    content: '';
                    position: absolute;
                    width: rem(30);
                    height: rem(2);
                    background-color: $theme-blue;
                    bottom: rem(-15);
                    left: 0;
                    @media screen and (max-width: 480px) {
                        left: calc(50% - 1rem);
                     }
                }
            }
            &.subscribe-wrap{
                width: 35%;
                @media screen and (max-width: 767px) {
                    width: 100%;
                }
                form{
                    .form-group{
                        display: flex;
                        align-items: center;
                        input{
                            width: calc(100% - 7.4375rem);
                            border: 1px solid #F0E3D0;
                            border-radius: rem(5) 0 0 rem(5);
                            padding: rem(17);
                            height: rem(56);
                            background-color: transparent;
                            border-right: 0;
                            @media screen and (max-width: 600px) {
                                width: calc(100% - 8.4375rem);
                            }
                            &::placeholder{
                                color: #F0E3D0;
                            }
                        }   
                        button{
                            width: rem(126);
                            height: rem(56);
                            border: 0;
                            box-shadow: none;
                            border: 1px solid $theme-blue;
                            border-radius: 0 rem(5) rem(5) 0;
                            @media screen and (max-width: 600px) {
                                width: rem(135);
                            }
                            &:hover{
                                background-color: $hover-color;
                                @include transition(all,0.5s,ease-in-out);
                            }
                        }
                    }
                }
            }
            ul{
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                @media screen and (max-width: 480px) {
                    align-items: center;
                 }
                li{
                    a{
                        color: #F0E3D0;
                        font-size: rem(16);
                        font-weight: 300;
                        margin-bottom: rem(15);
                        display: block;
                        @media screen and (max-width: 480px) {
                            font-size: rem(20);
                        }
                        &:hover{
                            color: $theme-blue;
                            @include transition(all,0.5s,ease-in-out);
                        }
                    }
                }
            }
        }
        
    }
    .footer-copy-write{
        padding: rem(45) 0 rem(35) 0;
        p{
            color: #F0E3D0;
            font-size: rem(18);
            font-weight: 300;
            text-align: center;
        }
    }
}