header {
    .header-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: rem(50);
        position: relative;
        z-index: 9;
        @media screen and (max-width: 991px) {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            position: absolute;
            top: 0;
            left: rem(-400);
            height: 100vh;
            background-color: $white-color;
            width: rem(400);
            margin-top: 0;
            padding: rem(25);
            z-index: 1000;
            @include transition(left,0.5s,ease-in-out);
            .logo-wrap{
                margin: auto;
                margin-bottom: rem(60);
                margin-top: 0;
                img{
                    width: rem(250)!important;
                }
            }
            .nav-wrap{
                width: 100%;
                nav{
                    width: 100%;
                    ul{
                        flex-direction: column;
                        align-items: flex-start!important;
                        li{
                            display: block;
                            width: 100%;
                            text-align: center;
                            &.contact-btn{
                                width: auto;
                                margin-left: auto!important;
                                margin: auto;
                                a{
                                    margin-bottom: 0!important;
                                    padding: rem(15)!important;
                                }
                            }
                            a{
                                padding-left: 0!important;
                                width: auto;
                                margin-right: 0!important;
                                margin-bottom: rem(10)!important;
                                padding-bottom: rem(10)!important;
                                display: inline-block;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
        .logo-wrap {
            >img {
                width: rem(150);
            }
        }

        .nav-wrap {
            nav {
                ul {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    li {
                        a {
                            color: $theme-black;
                            font-size: rem(20);
                            margin-right: rem(16);
                            padding-left: rem(20);
                            padding-bottom: rem(5);
                            font-weight: $font-regular;

                            // @include transition(all,0.5s,ease-in-out);
                            &.active {
                                color: $theme-blue;
                                border-bottom: 2px solid $theme-blue;
                            }

                            &:hover {
                                color: $theme-blue;
                                @include transition(color, 0.5s, ease-in-out);
                            }
                        }

                        &.contact-btn {
                            display: block;
                            margin-left: rem(20);

                            a {
                                padding: rem(15) rem(10);
                                background-color: $theme-blue;
                                color: $white-color;
                                margin-right: 0;
                                display: flex;
                                align-items: center;
                                border-radius: rem(5);
                                // @include transition(all,0.5s,ease-in-out);
                                box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.15);

                                &:hover {
                                    background-color: $hover-color;
                                    @include transition(all, 0.5s, ease-in-out);
                                }

                                img {
                                    width: rem(24);
                                    height: rem(24);
                                    min-width: rem(24);
                                    min-height: rem(24);
                                    margin-right: rem(10);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #nav-icon {
        display: none;
        width: rem(50);
        height: rem(40);
        position: absolute;
        top: rem(30);
        left: rem(30);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        @media screen and (max-width: 991px) {
           display: block;
           z-index: 9;
        }
    }

    #nav-icon span {
        display: block;
        position: absolute;
        height: rem(4);
        width: 100%;
        background: $white-color;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    #nav-icon span:nth-child(1) {
        top: 0px;
    }

    #nav-icon span:nth-child(2),
    #nav-icon span:nth-child(3) {
        top: rem(16);
    }

    #nav-icon span:nth-child(4) {
        top: rem(32);
    }

    #nav-icon.open span:nth-child(1) {
        top: rem(16);
        width: 0%;
        left: 50%;
    }

    #nav-icon.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    #nav-icon.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    #nav-icon.open span:nth-child(4) {
        top: rem(16);
        width: 0%;
        left: 50%;
    }

    .overflow{
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,0.65);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        @include transition(left,0.5s,ease-in-out);
    }

}

html.overflow-open{
    overflow: hidden;
    header{
        .overflow{
            pointer-events: all;
            opacity: 1;
            visibility: visible;
            @include transition(left,0.5s,ease-in-out);
        }
        .header-wrap{
           left: 0;
           @include transition(left,0.5s,ease-in-out);
        }
    }
}


@media screen and (min-width: 991px) {
    header.darkheader{
        .header-wrap{
            position: fixed;
            top: -40px;
            left: 0%;
            width: 100%;
            z-index: 9999;
            background: #fff;
            padding: 10px 20px;
            box-shadow: 0 0px 6px 0px rgba(0,0,0,0.09);
            // @include transition(all,0.5s,ease-in-out);
        }
    }
}
