h2{
    font-size: rem(40);
    font-weight: $font-bold;
    text-align: left;
    letter-spacing: 1.2px;
    line-height: rem(50);
    margin-bottom: rem(60);
    position: relative;
    &::after{
        content: '';
        position: absolute;
        width: 150%;
        height: 2px;
        background-color: $theme-blue;
        left: 0;
        bottom: rem(-20);
    }
}

.aboutus-main-wrap {
    position: relative;
    padding-bottom: rem(60);
    overflow: hidden;
    @media screen and (max-width: 1100px) {
        padding-top: rem(60);
    }
    span{
        position: absolute;
        &.white-rectangle{
            background-color: $white-color;
            width: 100%;
            height: rem(160);
            bottom: 0;
            right: 0;
            z-index: 10;
        }
        &.white-triangle{
            bottom: 0;
            left: 0;
            width: 0;
            height: 0;
            border-bottom: 380px solid $white-color;
            border-right: 850px solid transparent;
            z-index: 12;
            @media screen and (max-width: 1360px) {
                border-bottom: 280px solid $white-color;     
            }
            @media screen and (max-width: 991px) {
                border-bottom: 235px solid #ffffff;
                border-right: 560px solid transparent;
            }
            
            
        }
        &.home-icon{
            z-index: 12;
            width: rem(90);
            height: rem(90);
            background-color: #E4EFF9;
            bottom: rem(40);
            right: rem(40);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            img{
                width: rem(40);
                height: rem(40);
                object-fit: contain;
            }
        }
    }
    &::after{
        content: '';
        background-image: url(../images/about-banner.png);
        background-position-y: 0%;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        z-index: 9;
        @media screen and (max-width: 1100px) {
            content: none;
        }
    }
    &::before{
        content: '';
        background: rgb(161,159,159);
        background: linear-gradient(358deg, rgba(161,159,159,1) 0%, rgba(175,175,175,1) 70%, rgba(255,255,255,0) 100%);
        height: 100%;
        width: 100%;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 10;
    }
    .aboutus-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 99;
        @media screen and (max-width: 767px) {
            flex-direction: column;   
        }
        .aboutus-right-wrap {
            width: calc(50% - 35px);
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media screen and (max-width: 1360px) {
                width: calc(50% - 20px);   
            }
            @media screen and (max-width: 767px) {
                width: 100%;   
            }
            @media screen and (max-width: 600px) {
                flex-direction: column;
            }
            .aboutus-pic-main-wrap {
                width: calc(50% - 35px);
                @media screen and (max-width: 1360px) {
                    width: calc(50% - 20px);   
                }
                @media screen and (max-width: 600px) {
                    width: 100%;   
                }
                .aboutus-pic-wrap {
                    padding: rem(40) rem(50);
                    background-color: $white-color;
                    box-shadow: 0px 20px 40px #5030200D;
                    border-radius: 5px;
                    @media screen and (max-width: 1360px) {
                        padding: rem(20) rem(25);  
                    }
                    @media screen and (max-width: 559px) {
                        margin-bottom: rem(30);
                        padding: rem(40) rem(50);
                     }
                    img{
                        margin-bottom: rem(20);
                    }
                    h3{
                        margin-bottom: rem(10);
                        @media screen and (max-width: 600px) {
                            font-size: rem(24);
                        }
                    }
                    p{
                        font-size: rem(16);
                        line-height: 1.3;
                        @media screen and (max-width: 600px) {
                            font-size: rem(20);
                        }
                    }
                }
            }
        }

        .aboutus-left-wrap {
            width: calc(50% - 35px);
            @media screen and (max-width: 1360px) {
                width: calc(50% - 20px);   
            }
            @media screen and (max-width: 767px) {
                width: 100%;   
            }
            p{
                font-size: rem(18);
                font-weight: $font-regular;
                line-height: 1.5;
                width: 70%;
                @media screen and (max-width: 1360px) {
                    width: 100%; 
                }
                @media screen and (max-width: 599px) {
                    font-size: rem(22);
                }
            }
            button{
                display: flex;
                align-items: center;
                box-shadow: 0 0px 10px 0 rgba(0,0,0,0.15);
                border-radius: rem(6);
                img{
                    margin-left: rem(10);
                    width: rem(20);
                }
            }
        }
    }

    &.feature-stripe-wrap{
        background-color: #4B4B4B2E;
        background-image: url(../images/feature-stripe.svg);
        background-size: cover;
        padding: rem(117) 0 rem(110) 0;
        &::after,&::before{
            content: none;
        }
        h2{
            text-align: center;
            @media screen and (max-width: 767px) {
                text-align: left;
            }
            &::after{
                width: 52%;
                left: -15%;
                bottom: 16px;
                @media screen and (max-width: 1024px) {
                    left: -18%;
                    bottom: 13px;
                }
                @media screen and (max-width: 767px) {
                    left: -54%;
                }
            }
        }
        .aboutus-wrap{
            justify-content: space-around;
            .aboutus-left-wrap{
                width: calc(38% - 35px);
                @media screen and (max-width: 1360px) {
                    width: calc(50% - 20px);   
                }
                @media screen and (max-width: 767px) {
                    width: 100%;   
                    margin-bottom: rem(50);
                }
                h3{
                    font-size: rem(40);
                    font-weight: $font-bold;
                    margin-bottom: rem(50);
                }
                p{
                    width: 100%;
                    line-height: rem(35);
                    margin-bottom: rem(40);
                    @media screen and (max-width: 599px) {
                        font-size: rem(22);
                    }
                }
            }
            .aboutus-right-wrap{
                .aboutus-pic-main-wrap{
                    .aboutus-pic-wrap{
                        padding: rem(34);
                        @media screen and (max-width: 991px) {
                            padding: rem(20);
                        }
                        img{
                            width: rem(60);
                            height: rem(60);
                        }
                        h3{
                            font-size: rem(20);
                            font-weight: $font-bold;
                        }
                        p{
                            line-height: rem(35);
                            margin-bottom: 0;
                        }
                        &:hover, &.active{
                            background-color: $theme-blue;
                            @include transition(all,0.5s,ease-in-out);
                            h3{
                                color: $white-color;
                                @include transition(all,0.5s,ease-in-out);
                            }
                            p{
                                color: $white-color;
                                @include transition(all,0.5s,ease-in-out);
                            }
                        }
                    }
                }
            }
        }
    }
}

.featured-properties-wrap{
    overflow: hidden;
    margin-bottom: rem(80);
    @media screen and (max-width: 1100px) {
        padding-top: rem(80);
    }
    h2::after {
        width: 30%;
        left: -10%;
    }
    p{
        font-size: rem(16);
        font-weight: $font-regular;
        line-height: rem(35);
        margin-bottom: rem(15);
        @media screen and (max-width: 599px) {
            font-size: rem(22);
        }
    }
    ul.property-select{
        display: flex;
        margin-bottom: rem(50);
        justify-content: flex-end;
        li{
            font-size: rem(20);
            font-weight: $font-regular;
            padding: rem(5) rem(10);
            margin-right: rem(8);
            cursor: pointer;
            &:last-child{
                margin-right: 0;
            }
            &.active{
                color: $theme-blue;
                border-bottom: 2px solid $theme-blue;
            }
        }
    }
    .properties-main-wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 85%;
        margin: auto;
        @media screen and (max-width: 1200px) {
            width: 100%;
        }
        @media screen and (max-width: 600px) {
            justify-content: center;
        }
        h3{
            font-size: rem(22);
            font-weight: $font-bold;
            margin-bottom: rem(15);
        }

        .properties-wrap{
            width: calc(33% - 30px);
            max-width: rem(444);
            box-shadow: 0 10px 15px 5px rgba(0,0,0,0.15);
            margin-bottom: rem(55);
            border-radius: rem(6);
            @media screen and (max-width: 767px) {
                width: calc(50% - 30px);
            }
            @media screen and (max-width: 600px) {
                width: 100%;
            }
            .property-content-wrap{
                padding: rem(20);
                .property-aminities{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    ul{
                        display: flex;
                        align-items: center;
                        li{
                            padding-right: rem(20);
                            border-right: 1px solid #50302028;
                            margin-right: rem(20);
                            @media screen and (max-width: 600px) {
                                font-size: rem(22);
                            }
                            &:last-child{
                                margin-right: 0;
                            }
                            img{
                                width: rem(19);
                                margin-right: rem(10);
                            }
                        }
                    }
                }
            }
        }
        .property-btn-wrap{
            max-width: 100%;
            width: 100%;
            text-align: center;
            button{
                display: flex;
                text-align: center;
                margin: auto;
                margin-top: rem(20);
                img{
                    width: rem(19);
                    min-width: rem(19);
                    margin-left: rem(10);
                }
            }
        }
    }
}

.our-services-main-wrap{
    padding: rem(200) 0;
    background-image: url(../images/our-service-stripe.svg);
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    @media screen and (max-width: 1200px) {
        padding: rem(100) 0;  
    }
    h2{
        text-align: center;
        &::after {
            width: 2px;
            height: 200px;
            left: 50%;
            bottom: auto;
            top: -210px;
        }
    }
    .our-service-wrap{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 80%;
        margin: auto;
        @media screen and (max-width: 767px) {
            width: 100%;
        }
        .service-block{
            max-width: rem(275);
            min-width: rem(275);
            width: rem(275);
            height: rem(230);
            background-color: $white-color;
            box-shadow: 0px 3px 30px #186AA51A;
            border-radius: 12px;
            margin: rem(35);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: rem(15) rem(20);
            cursor: pointer;
            @media screen and (max-width: 480px) {
                max-width: rem(235);
                min-width: rem(235);
                width: rem(235);
                margin: rem(20);
            }
            span{
                width: rem(107);
                height: rem(107);
                min-width: rem(107);
                min-height: rem(107);
                padding: rem(20);
                background-color: #F4F7FA;
                border-radius: 50%;
                margin-bottom: rem(10);
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: rem(50);
                    height: rem(50);
                }
            }
            p{
                font-size: rem(24);
                color: #14395B;
                opacity: 0.75;
                line-height: rem(25);
                text-align: center;
                font-weight: $font-regular;
            }
            &:hover{
                background-color: $theme-blue;
                p{
                    color: $white-color;
                    opacity: 1;
                }
            }
        }
    }
    
} 

.buy-sell-property-main-wrap{
    background-color: $hover-color;
    text-align: center;
    .container{
        padding-top: rem(180);
        padding-bottom: rem(120);
        border-bottom: 1px solid #F0E3D0;
        @media screen and (max-width: 1200px) {
            padding: rem(100) 0;  
        }
        .sell-buy-property-wrap{
            width: 60%;
            margin: auto;
            @media screen and (max-width: 767px) {
                width: 100%;
            }
            h2{
                color: $white-color;
                font-weight: $font-bold;
                font-size: rem(40);
                line-height: rem(50);
                margin-bottom: rem(30);
                text-align: center;
                &::after{
                    content: none;
                }
            }
            p{
                margin-bottom: rem(85);
                font-size: rem(16);
                line-height: rem(35);
                font-weight: 300;
                color: $white-color;
                @media screen and (max-width: 599px) {
                    font-size: rem(22);
                }
            }
            .sell-buy-button-property-wrap{
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 50%;
                margin: auto;
                @media screen and (max-width: 600px) {
                    width: 95%;
                }
                span{
                    width: rem(75);
                    height: rem(1);
                    background-color: $white-color;
                    display: inline-block;
                }
            }
        }
    }
}