/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #4B4B4B;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #cccccc;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  outline: 0;
}

strong, b {
  font-weight: bold;
}

hr.spacer {
  border: 0;
  margin: 1rem 0;
}

hr.spacer.no-space {
  margin: 0;
}

hr.spacer.line {
  border-bottom: 1px solid #e0e0e0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
  word-break: break-word;
}

p, span, input, label, button, li, small {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  word-break: break-word;
}

a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

img {
  width: 100%;
}

sup {
  color: #ff4b4b;
  font-size: 15px;
  top: 0em;
  right: -2px;
}

input.form-control, input.form-check-input {
  outline: none;
}

input.form-control:focus, input.form-check-input:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

button.btn-primary {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

button.btn-primary:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.form-select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-select:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

*:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* Pixel to REM */
.fade-in {
  opacity: 1;
  -webkit-animation-name: fadeInOpacity;
          animation-name: fadeInOpacity;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  margin: 0;
}

@-webkit-keyframes fadeInOpacity {
  0% {
    opacity: 0.5;
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0.5;
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

.fade-right-to-left {
  opacity: 1;
  -webkit-animation-name: fadeInRightToLeftOpacity;
          animation-name: fadeInRightToLeftOpacity;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  margin: 0;
}

@-webkit-keyframes fadeInRightToLeftOpacity {
  0% {
    opacity: 0;
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInRightToLeftOpacity {
  0% {
    opacity: 0;
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.fade-left-to-right {
  opacity: 1;
  -webkit-animation-name: fadeInLeftToRightOpacity;
          animation-name: fadeInLeftToRightOpacity;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  margin: 0;
}

@-webkit-keyframes fadeInLeftToRightOpacity {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInLeftToRightOpacity {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.fade-in-down {
  opacity: 1;
  -webkit-animation-name: fadeInDownOpacity;
          animation-name: fadeInDownOpacity;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  margin: 0;
}

@-webkit-keyframes fadeInDownOpacity {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeInDownOpacity {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.ripple {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  -webkit-transform: scale(10, 10);
          transform: scale(10, 10);
  opacity: 0;
  -webkit-transition: opacity 1s, -webkit-transform .5s;
  transition: opacity 1s, -webkit-transform .5s;
  transition: transform .5s, opacity 1s;
  transition: transform .5s, opacity 1s, -webkit-transform .5s;
}

.ripple:active:after {
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  opacity: .2;
  -webkit-transition: 0s;
  transition: 0s;
}

@media (min-width: 0) and (max-width: 479px) {
  html {
    font-size: 2.3vw;
  }
}

@media (min-width: 480px) and (max-width: 599px) {
  html {
    font-size: 1.8vw;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  html {
    font-size: 1.4vw;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 1vw;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  html {
    font-size: 0.9vw;
  }
}

@media (min-width: 1280px) and (max-width: 1365px) {
  html {
    font-size: 0.8vw;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 0.8vw;
  }
}

@media (min-width: 1366px) and (max-width: 1919px) {
  html {
    font-size: 0.8vw;
  }
}

.container {
  max-width: 85%;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 90%;
  }
}

.form-group {
  width: 100%;
  max-width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.form-group .form-group {
  margin-bottom: 0;
}

.form-group.form-link {
  text-align: left;
}

.form-group.form-link span {
  color: #77c3ec;
  cursor: pointer;
  display: block;
  text-align: left;
}

.form-group.form-link span a {
  text-decoration: underline;
}

.form-group.form-sub-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-group.form-sub-group-colomn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-group.form-toggle-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.625rem;
}

.form-group.form-toggle-wrap label {
  font-weight: 700;
  color: #4B4B4B;
  font-size: 1rem;
  margin-bottom: 0;
}

.form-group.form-toggle-wrap.loader {
  height: 2.5rem;
}

.form-group.form-toggle-wrap.loader .toggle-wrap .toggleSwitch {
  opacity: 0;
}

.form-group.form-group-file-upload {
  border: 1px solid #8da1b9;
  border-style: dashed;
  border-radius: 0.375rem;
}

.form-group.form-group-file-upload.error-info {
  border: 1px solid #e02121;
  border-style: dashed;
  background-color: #fff7f7;
}

.form-group.form-group-file-upload.error-info .form-warning {
  top: auto;
  bottom: 3.75rem;
}

.form-group.form-group-file-upload .file-upload-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.625rem;
  cursor: pointer;
  height: 100%;
}

.form-group.form-group-file-upload .file-upload-wrap input {
  width: 100%;
  height: 100% !important;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.form-group.form-group-file-upload .file-upload-wrap span {
  color: #4B4B4B;
}

.form-group.form-group-file-upload .file-upload-wrap span:first-child {
  font-size: 5rem;
  color: #6cce6c;
}

.form-group.form-group-select {
  position: relative;
  cursor: pointer;
}

.form-group.form-group-select.loader::after {
  display: none;
}

.form-group.form-group-select::after {
  content: '';
  position: absolute;
  background-image: url(../../images/arrow-ash.svg);
  width: 1.0625rem;
  height: 1.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 0.75rem;
  right: 0.75rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  background-size: cover;
  pointer-events: none;
}

.form-group.uploaded-file-wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-group label {
  color: #97999b;
  font-size: 0.875rem;
  margin-bottom: 0.625rem;
}

.form-group p {
  line-height: 1.5625rem;
  margin-top: 0.4375rem;
}

.form-group input {
  border-radius: 6px;
  border: 1px solid #ccd2e4;
  line-height: 1rem;
  height: 2.875rem;
  padding: 0 0.9375rem;
}

.form-group input.placeholder-right {
  /* webkit solution */
  /* mozilla solution */
}

.form-group input.placeholder-right::-webkit-input-placeholder {
  text-align: right;
  font-size: 0.6875rem;
}

.form-group input.placeholder-right:-moz-placeholder {
  text-align: right;
  font-size: 0.6875rem;
}

.form-group.form-group-date {
  position: relative;
  -webkit-appearance: none;
  border-radius: 6px;
  border: 1px solid #ccd2e4;
}

.form-group.form-group-date input {
  border: 0;
  cursor: pointer;
}

.form-group.form-group-date::-webkit-calendar-picker-indicator, .form-group.form-group-date::-webkit-inner-spin-button {
  opacity: 0;
  cursor: pointer;
}

.form-group.form-group-date::after {
  position: absolute;
  content: '';
  background-image: url(../../images/calender-button.svg);
  width: 1.1875rem;
  height: 1.1875rem;
  right: 0.625rem;
  top: 0.875rem;
  background-size: contain;
  pointer-events: none;
}

.form-group.form-group-date::before {
  position: absolute;
  content: '';
  width: 2.625rem;
  height: 2.875rem;
  background-color: #f4f4f4;
  border-radius: 0 6px 6px 0;
  top: 0;
  right: 0;
  pointer-events: none;
}

.form-group input.time {
  position: relative;
  -webkit-appearance: none;
}

.form-group input.time::-webkit-calendar-picker-indicator, .form-group input.time::-webkit-inner-spin-button {
  opacity: 0;
  cursor: pointer;
}

.form-group input.time::after {
  position: absolute;
  content: '';
  background-image: url(../../images/time-button.svg);
  width: 1.1875rem;
  height: 1.1875rem;
  right: 0.625rem;
  background-size: contain;
  pointer-events: none;
}

.form-group input.time::before {
  position: absolute;
  content: '';
  width: 2.625rem;
  height: 2.8125rem;
  background-color: #f4f4f4;
  top: 0;
  right: 0;
}

.form-group select {
  width: 100%;
  border-radius: 6px;
  border: 1px solid #ccd2e4;
  line-height: 1rem;
  height: 2.875rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  padding: 0 2.1875rem 0 0.9375rem;
  background-color: #ffffff;
}

.form-group address {
  border-radius: 6px;
  border: 1px solid #ccd2e4;
  line-height: 1rem;
}

.form-group textarea {
  width: 100%;
  border-radius: 6px;
  border: 1px solid #ccd2e4;
  line-height: 1rem;
  resize: none;
  padding: 0.9375rem;
}

.form-group.form-group-split {
  max-width: calc(50% - rem(12));
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(50% - rem(12));
          flex: 0 1 calc(50% - rem(12));
}

@media screen and (max-width: 479px) {
  .form-group.form-group-split {
    width: 100%;
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

.form-group.form-group-triplet {
  padding-bottom: 1.5625rem;
}

.form-group.form-group-triplet:last-child {
  padding-bottom: 0rem;
}

.form-group.form-group-triplet .tripet-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-group.form-group-triplet .tripet-wrap .quatity-wrap.quatity-cross span {
  position: relative;
}

.form-group.form-group-triplet .tripet-wrap .quatity-wrap.quatity-cross span::after {
  position: absolute;
  content: 'x';
  width: 1.25rem;
  height: 1.25rem;
  bottom: -0.3125rem;
  right: -1.25rem;
  font-size: 0.875rem;
}

.form-group.form-group-triplet .tripet-wrap .quatity-wrap.quatity-equalto span {
  position: relative;
}

.form-group.form-group-triplet .tripet-wrap .quatity-wrap.quatity-equalto span::after {
  position: absolute;
  content: '=';
  width: 1.25rem;
  height: 1.25rem;
  bottom: -0.3125rem;
  right: -1.25rem;
  font-size: 1.125rem;
}

.form-group.form-group-triplet .tripet-wrap .quatity-wrap p {
  width: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
  height: 1.5625rem;
  margin-bottom: 0 !important;
  margin-top: 0.625rem;
}

.form-group.form-group-triplet .tripet-wrap .quatity-wrap p {
  width: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
  height: 1.5625rem;
  margin-bottom: 0 !important;
  margin-top: 0.625rem;
}

.form-group.form-group-triplet .tripet-wrap .quatity-wrap input {
  border: 0;
  width: 100%;
}

.form-group.form-group-triplet .tripet-wrap .quatity-wrap label {
  margin-bottom: 0.625rem;
}

h2 {
  font-weight: 700;
}

h2 span {
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1.375rem;
}

h3 span {
  font-size: 1.25rem;
  font-weight: 700;
}

h4 {
  font-weight: 700;
  margin-bottom: 1.375rem;
}

h4 span {
  font-weight: 700;
  margin-bottom: 1.375rem;
}

.popup-main-wrap {
  height: 100vh;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background-color: rgba(71, 70, 80, 0.51);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 99;
}

.popup-main-wrap .popup-wrap {
  background-color: #ffffff;
  max-width: 48.875rem;
  max-height: 31.6875rem;
  width: 48.875rem;
  height: 31.6875rem;
  padding: 1.5625rem;
  border-radius: 0.375rem;
  margin: auto;
}

.popup-main-wrap .popup-wrap .popup-close-btn {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  cursor: pointer;
}

.popup-main-wrap .popup-wrap .popup-close-btn:hover {
  opacity: 0.5;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.popup-main-wrap .popup-wrap form .form-group {
  margin-bottom: 1.25rem;
}

.popup-main-wrap .popup-wrap form .form-group input {
  height: 3.125rem;
}

.popup-main-wrap .popup-wrap form .module-wrap table {
  border: 1px solid #ccd2e4;
  border-radius: 0.375rem;
  display: -ms-grid;
  display: grid;
  margin-bottom: 1.875rem;
}

.popup-main-wrap .popup-wrap form .module-wrap table thead tr {
  padding: 0.75rem 1.5625rem;
  border-bottom: 1px solid #ccd2e4;
}

.popup-main-wrap .popup-wrap form .module-wrap table tbody tr {
  margin: 0 1.5625rem;
  padding: 0.75rem 0;
  border-bottom: 1px solid #ccd2e4;
}

.popup-main-wrap .popup-wrap form .module-wrap table tbody tr:last-child {
  border-bottom: 0;
}

.popup-main-wrap .popup-wrap form .module-wrap table tbody tr input {
  cursor: pointer;
}

.popup-main-wrap .popup-wrap form .module-wrap tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popup-main-wrap .popup-wrap form .module-wrap tr td,
.popup-main-wrap .popup-wrap form .module-wrap tr th {
  width: 25%;
  text-align: center;
  padding: 0;
}

.popup-main-wrap .popup-wrap form .module-bottom-wrap {
  text-align: center;
}

.popup-main-wrap .popup-wrap form .module-bottom-wrap button {
  height: 2.875rem;
  width: auto;
}

.popup-main-wrap .popup-wrap form .module-bottom-wrap button:last-child {
  margin-left: 1.25rem;
}

.popup-main-wrap .popup-wrap form .module-bottom-wrap button span {
  font-weight: 600;
}

.popup-main-wrap.common-delete-popup-wrap {
  width: calc(100vw - rem(8));
  height: 100%;
}

.popup-main-wrap.common-delete-popup-wrap .popup-wrap {
  width: 29.125rem;
  height: auto;
  max-height: unset;
  position: relative;
}

.popup-main-wrap.common-delete-popup-wrap .popup-wrap .module-wrap {
  margin-top: 1.3125rem;
  text-align: center;
  width: 100%;
}

.popup-main-wrap.common-delete-popup-wrap .popup-wrap .module-wrap .delete-image-wrap {
  margin-bottom: 0.9375rem;
}

.popup-main-wrap.common-delete-popup-wrap .popup-wrap .module-wrap .delete-image-wrap svg {
  width: 5.4375rem;
  height: 5.875rem;
}

.popup-main-wrap.common-delete-popup-wrap .popup-wrap .module-wrap .delete-image-wrap svg path {
  fill: #00aa00;
}

.popup-main-wrap.common-delete-popup-wrap .popup-wrap .module-wrap .delete-content-wrap {
  margin-bottom: 3.125rem;
}

.popup-main-wrap.common-delete-popup-wrap .popup-wrap .module-wrap .delete-content-wrap h3 {
  font-size: 1.625rem;
  margin-bottom: 0.9375rem;
  font-weight: 400;
}

.popup-main-wrap.common-delete-popup-wrap .popup-wrap .module-wrap .delete-content-wrap p {
  line-height: 1.5rem;
}

.popup-main-wrap.common-delete-popup-wrap .popup-wrap .module-bottom-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.popup-main-wrap.common-delete-popup-wrap .popup-wrap .module-bottom-wrap button {
  width: auto;
}

.popup-main-wrap.common-delete-popup-wrap .popup-wrap .module-bottom-wrap button.btn-gradient--red span {
  color: #4B4B4B;
}

.popup-main-wrap.common-file-upload-wrap .popup-wrap .module-wrap h3 {
  font-weight: 400;
}

.popup-main-wrap.common-file-upload-wrap .popup-wrap .module-wrap p {
  padding: 0.3125rem 0.3125rem 0.3125rem 0.625rem;
  border: 1px solid #ccd2e4;
  border-radius: 0.625rem;
  width: auto;
  height: 2.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popup-main-wrap.common-file-upload-wrap .popup-wrap .module-wrap p span {
  width: 1.5625rem;
  height: 1.5625rem;
  border-radius: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.popup-main-wrap.common-file-upload-wrap .popup-wrap .module-wrap p span img {
  width: 0.625rem;
  height: 0.625rem;
}

.popup-main-wrap.common-file-upload-wrap .popup-wrap .module-wrap p span:hover {
  background-color: rgba(216, 30, 30, 0.1);
}

.popup-main-wrap.common-file-upload-wrap .popup-wrap .module-wrap .form-group-file-upload .file-upload-wrap img {
  width: 6.5625rem;
  height: 6.5625rem;
  margin-bottom: 1.25rem;
}

.popup-main-wrap.common-file-upload-wrap .popup-wrap .module-wrap .form-group-file-upload .file-upload-wrap span {
  margin-bottom: 1.875rem;
  color: #8588a2;
  font-weight: 600;
}

.popup-main-wrap.common-file-upload-wrap .popup-wrap .module-wrap .form-group-file-upload .file-upload-wrap span b {
  color: #3455db;
}

.popup-main-wrap.common-file-upload-wrap .popup-wrap .module-bottom-wrap {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 14px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.25rem;
  width: 1.25rem;
  border: 1px solid #b1b4bf;
  border-radius: 0.3125rem;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.custom-checkbox input:checked ~ span {
  background-color: #3455db;
}

.custom-checkbox .checkmark:after {
  left: 5px;
  top: 2px;
  width: 3px;
  height: 7px;
  border: solid #ffffff;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mb-20 {
  margin-bottom: 1.25rem;
}

.mb-22 {
  margin-bottom: 1.375rem;
}

.mb-30 {
  margin-bottom: 1.875rem;
}

.mb-40 {
  margin-bottom: 2.5rem;
}

.mt-20 {
  margin-top: 1.25rem;
}

.pt-20 {
  padding-top: 1.25rem;
}

.bt-1 {
  border-top: 1px solid #ccd2e4;
}

.bb-1 {
  border-bottom: 1px solid #ccd2e4;
}

.bt-0 {
  border-top: 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.pl-0 {
  padding-left: 0;
}

.pl-20 {
  padding-left: 1.25rem;
}

.pr-20 {
  padding-right: 1.25rem;
}

.pr-0 {
  padding-right: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-20 {
  padding-bottom: 1.25rem;
}

.pb-30 {
  padding-bottom: 1.875rem;
}

.p-0 {
  padding: 0;
}

.p-20 {
  padding: 1.25rem;
}

.p-30 {
  padding: 1.875rem;
}

.mr-20 {
  margin-right: 1.25rem;
}

.mr-30 {
  margin-right: 1.875rem;
}

input[type=file],
input[type=file]::-webkit-file-upload-button {
  /* chromes and blink button */
  cursor: pointer;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
  background-color: #ffffff !important;
}

select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
  background-color: #ffffff !important;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #ffffff !important;
  cursor: not-allowed;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.loader {
  position: relative;
}

.loader::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9;
  -webkit-animation: placeholderSkeleton 1s linear infinite forwards;
          animation: placeholderSkeleton 1s linear infinite forwards;
  background: #f6f7f8;
  background-image: -webkit-gradient(linear, left center, right center, from(#f6f7f8), color-stop(0.2, #edeef1), color-stop(0.4, #f6f7f8), to(#f6f7f8));
  background-size: 500px 100%;
}

@-webkit-keyframes placeholderSkeleton {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    background-position: -468px 0;
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    background-position: 468px 0;
  }
}

@keyframes placeholderSkeleton {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    background-position: -468px 0;
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    background-position: 468px 0;
  }
}

p.loader {
  width: 40%;
  min-width: 100px;
  height: 1.25rem;
  border-radius: 1.25rem;
  font-size: 0 !important;
}

.loader P {
  width: 40%;
  min-width: 100px;
  height: 1.25rem;
  border-radius: 1.25rem;
  font-size: 0 !important;
}

label.loader,
h5.loader,
small.loader {
  width: 25%;
  min-width: 80px;
  height: 1.875rem;
  border-radius: 1.25rem;
  font-size: 0 !important;
}

label.loader sup,
h5.loader sup,
small.loader sup {
  opacity: 0;
}

.loader label,
.loader h5,
.loader small {
  width: 25%;
  min-width: 80px;
  height: 1.25rem;
  border-radius: 1.25rem;
  font-size: 0 !important;
}

.loader label sup,
.loader h5 sup,
.loader small sup {
  opacity: 0;
}

.loader_round::after {
  border-radius: 50%;
}

input.loader {
  -webkit-animation: placeholderSkeleton 1s linear infinite forwards;
          animation: placeholderSkeleton 1s linear infinite forwards;
  background: #f6f7f8;
  background-image: -webkit-gradient(linear, left center, right center, from(#f6f7f8), color-stop(0.2, #edeef1), color-stop(0.4, #f6f7f8), to(#f6f7f8));
  background-repeat: no-repeat;
  background-size: 500px 100%;
  border: 0;
}

input.loader::-webkit-input-placeholder {
  opacity: 0;
}

input.loader:-ms-input-placeholder {
  opacity: 0;
}

input.loader::-ms-input-placeholder {
  opacity: 0;
}

input.loader::placeholder {
  opacity: 0;
}

body.modal-open {
  overflow: hidden;
}

button {
  color: #ffffff;
  font-size: 1rem;
  background-color: #1C62A6;
  padding: 0.9375rem 1.25rem;
  transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 0.375rem;
}

@media screen and (max-width: 599px) {
  button {
    font-size: 1.25rem;
  }
}

button:hover {
  background-color: #4b4b4b;
}

header .header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3.125rem;
  position: relative;
  z-index: 9;
}

@media screen and (max-width: 991px) {
  header .header-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: absolute;
    top: 0;
    left: -25rem;
    height: 100vh;
    background-color: #ffffff;
    width: 25rem;
    margin-top: 0;
    padding: 1.5625rem;
    z-index: 1000;
    transition: left 0.5s ease-in-out 0s;
    -moz-transition: left 0.5s ease-in-out 0s;
    -webkit-transition: left 0.5s ease-in-out 0s;
    -o-transition: left 0.5s ease-in-out 0s;
  }
  header .header-wrap .logo-wrap {
    margin: auto;
    margin-bottom: 3.75rem;
    margin-top: 0;
  }
  header .header-wrap .logo-wrap img {
    width: 15.625rem !important;
  }
  header .header-wrap .nav-wrap {
    width: 100%;
  }
  header .header-wrap .nav-wrap nav {
    width: 100%;
  }
  header .header-wrap .nav-wrap nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  header .header-wrap .nav-wrap nav ul li {
    display: block;
    width: 100%;
    text-align: center;
  }
  header .header-wrap .nav-wrap nav ul li.contact-btn {
    width: auto;
    margin-left: auto !important;
    margin: auto;
  }
  header .header-wrap .nav-wrap nav ul li.contact-btn a {
    margin-bottom: 0 !important;
    padding: 0.9375rem !important;
  }
  header .header-wrap .nav-wrap nav ul li a {
    padding-left: 0 !important;
    width: auto;
    margin-right: 0 !important;
    margin-bottom: 0.625rem !important;
    padding-bottom: 0.625rem !important;
    display: inline-block;
    text-align: center;
  }
}

header .header-wrap .logo-wrap > img {
  width: 9.375rem;
}

header .header-wrap .nav-wrap nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-wrap .nav-wrap nav ul li a {
  color: #4B4B4B;
  font-size: 1.25rem;
  margin-right: 1rem;
  padding-left: 1.25rem;
  padding-bottom: 0.3125rem;
  font-weight: 400;
}

header .header-wrap .nav-wrap nav ul li a.active {
  color: #1C62A6;
  border-bottom: 2px solid #1C62A6;
}

header .header-wrap .nav-wrap nav ul li a:hover {
  color: #1C62A6;
  transition: color 0.5s ease-in-out 0s;
  -moz-transition: color 0.5s ease-in-out 0s;
  -webkit-transition: color 0.5s ease-in-out 0s;
  -o-transition: color 0.5s ease-in-out 0s;
}

header .header-wrap .nav-wrap nav ul li.contact-btn {
  display: block;
  margin-left: 1.25rem;
}

header .header-wrap .nav-wrap nav ul li.contact-btn a {
  padding: 0.9375rem 0.625rem;
  background-color: #1C62A6;
  color: #ffffff;
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.3125rem;
  -webkit-box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.15);
}

header .header-wrap .nav-wrap nav ul li.contact-btn a:hover {
  background-color: #4b4b4b;
  transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
}

header .header-wrap .nav-wrap nav ul li.contact-btn a img {
  width: 1.5rem;
  height: 1.5rem;
  min-width: 1.5rem;
  min-height: 1.5rem;
  margin-right: 0.625rem;
}

header #nav-icon {
  display: none;
  width: 3.125rem;
  height: 2.5rem;
  position: absolute;
  top: 1.875rem;
  left: 1.875rem;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  header #nav-icon {
    display: block;
    z-index: 9;
  }
}

header #nav-icon span {
  display: block;
  position: absolute;
  height: 0.25rem;
  width: 100%;
  background: #ffffff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

header #nav-icon span:nth-child(1) {
  top: 0px;
}

header #nav-icon span:nth-child(2),
header #nav-icon span:nth-child(3) {
  top: 1rem;
}

header #nav-icon span:nth-child(4) {
  top: 2rem;
}

header #nav-icon.open span:nth-child(1) {
  top: 1rem;
  width: 0%;
  left: 50%;
}

header #nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

header #nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

header #nav-icon.open span:nth-child(4) {
  top: 1rem;
  width: 0%;
  left: 50%;
}

header .overflow {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: left 0.5s ease-in-out 0s;
  -moz-transition: left 0.5s ease-in-out 0s;
  -webkit-transition: left 0.5s ease-in-out 0s;
  -o-transition: left 0.5s ease-in-out 0s;
}

html.overflow-open {
  overflow: hidden;
}

html.overflow-open header .overflow {
  pointer-events: all;
  opacity: 1;
  visibility: visible;
  transition: left 0.5s ease-in-out 0s;
  -moz-transition: left 0.5s ease-in-out 0s;
  -webkit-transition: left 0.5s ease-in-out 0s;
  -o-transition: left 0.5s ease-in-out 0s;
}

html.overflow-open header .header-wrap {
  left: 0;
  transition: left 0.5s ease-in-out 0s;
  -moz-transition: left 0.5s ease-in-out 0s;
  -webkit-transition: left 0.5s ease-in-out 0s;
  -o-transition: left 0.5s ease-in-out 0s;
}

@media screen and (min-width: 991px) {
  header.darkheader .header-wrap {
    position: fixed;
    top: -40px;
    left: 0%;
    width: 100%;
    z-index: 9999;
    background: #fff;
    padding: 10px 20px;
    -webkit-box-shadow: 0 0px 6px 0px rgba(0, 0, 0, 0.09);
            box-shadow: 0 0px 6px 0px rgba(0, 0, 0, 0.09);
  }
}

footer {
  background-color: #4b4b4b;
}

footer .footer-wrap {
  padding: 2.8125rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #F0E3D0;
}

@media screen and (max-width: 767px) {
  footer .footer-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

footer .footer-wrap .footer-logo-wrap {
  width: 20%;
}

@media screen and (max-width: 767px) {
  footer .footer-wrap .footer-logo-wrap {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  footer .footer-wrap .footer-logo-wrap {
    width: 100%;
    text-align: center;
    margin-bottom: 2.1875rem;
  }
}

footer .footer-wrap .footer-logo-wrap > img {
  width: 9.6875rem;
  margin-bottom: 1.875rem;
}

footer .footer-wrap .footer-logo-wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 480px) {
  footer .footer-wrap .footer-logo-wrap ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer .footer-wrap .footer-logo-wrap ul li:last-child a {
  margin-right: 0;
}

footer .footer-wrap .footer-logo-wrap ul li a {
  padding: 0.625rem;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3rem;
  height: 3rem;
  min-width: 3rem;
  min-height: 3rem;
  margin-right: 0.9375rem;
}

footer .footer-wrap .footer-logo-wrap ul li a:hover {
  background-color: #1C62A6;
}

footer .footer-wrap .footer-logo-wrap ul li a img {
  width: 1.25rem;
  height: 1.25rem;
  -o-object-fit: contain;
     object-fit: contain;
}

footer .footer-wrap .quick-link-wrap {
  width: 15%;
  margin-top: 1.875rem;
}

@media screen and (max-width: 767px) {
  footer .footer-wrap .quick-link-wrap {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  footer .footer-wrap .quick-link-wrap {
    width: 100%;
    text-align: center;
  }
}

footer .footer-wrap .quick-link-wrap h3 {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 4.375rem;
  position: relative;
  color: #ffffff;
}

@media screen and (max-width: 480px) {
  footer .footer-wrap .quick-link-wrap h3 {
    font-size: 1.375rem;
    margin-bottom: 3.125rem;
  }
}

footer .footer-wrap .quick-link-wrap h3::after {
  content: '';
  position: absolute;
  width: 1.875rem;
  height: 0.125rem;
  background-color: #1C62A6;
  bottom: -0.9375rem;
  left: 0;
}

@media screen and (max-width: 480px) {
  footer .footer-wrap .quick-link-wrap h3::after {
    left: calc(50% - 1rem);
  }
}

footer .footer-wrap .quick-link-wrap.subscribe-wrap {
  width: 35%;
}

@media screen and (max-width: 767px) {
  footer .footer-wrap .quick-link-wrap.subscribe-wrap {
    width: 100%;
  }
}

footer .footer-wrap .quick-link-wrap.subscribe-wrap form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-wrap .quick-link-wrap.subscribe-wrap form .form-group input {
  width: calc(100% - 7.4375rem);
  border: 1px solid #F0E3D0;
  border-radius: 0.3125rem 0 0 0.3125rem;
  padding: 1.0625rem;
  height: 3.5rem;
  background-color: transparent;
  border-right: 0;
}

@media screen and (max-width: 600px) {
  footer .footer-wrap .quick-link-wrap.subscribe-wrap form .form-group input {
    width: calc(100% - 8.4375rem);
  }
}

footer .footer-wrap .quick-link-wrap.subscribe-wrap form .form-group input::-webkit-input-placeholder {
  color: #F0E3D0;
}

footer .footer-wrap .quick-link-wrap.subscribe-wrap form .form-group input:-ms-input-placeholder {
  color: #F0E3D0;
}

footer .footer-wrap .quick-link-wrap.subscribe-wrap form .form-group input::-ms-input-placeholder {
  color: #F0E3D0;
}

footer .footer-wrap .quick-link-wrap.subscribe-wrap form .form-group input::placeholder {
  color: #F0E3D0;
}

footer .footer-wrap .quick-link-wrap.subscribe-wrap form .form-group button {
  width: 7.875rem;
  height: 3.5rem;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #1C62A6;
  border-radius: 0 0.3125rem 0.3125rem 0;
}

@media screen and (max-width: 600px) {
  footer .footer-wrap .quick-link-wrap.subscribe-wrap form .form-group button {
    width: 8.4375rem;
  }
}

footer .footer-wrap .quick-link-wrap.subscribe-wrap form .form-group button:hover {
  background-color: #4b4b4b;
  transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
}

footer .footer-wrap .quick-link-wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 480px) {
  footer .footer-wrap .quick-link-wrap ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer .footer-wrap .quick-link-wrap ul li a {
  color: #F0E3D0;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 0.9375rem;
  display: block;
}

@media screen and (max-width: 480px) {
  footer .footer-wrap .quick-link-wrap ul li a {
    font-size: 1.25rem;
  }
}

footer .footer-wrap .quick-link-wrap ul li a:hover {
  color: #1C62A6;
  transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
}

footer .footer-copy-write {
  padding: 2.8125rem 0 2.1875rem 0;
}

footer .footer-copy-write p {
  color: #F0E3D0;
  font-size: 1.125rem;
  font-weight: 300;
  text-align: center;
}

.banner-wrap {
  height: 100vh;
  background-image: url(../images/banner.png);
  margin-top: -9.125rem;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner-wrap h1 {
  font-size: 4.9375rem;
  text-align: center;
  font-weight: 400;
  margin-bottom: 3.4375rem;
  line-height: 4.6875rem;
}

@media screen and (max-width: 600px) {
  .banner-wrap h1 {
    font-size: 3.75rem;
  }
}

.banner-wrap h1 span {
  font-size: 4.9375rem;
  font-weight: 700;
  display: block;
}

@media screen and (max-width: 600px) {
  .banner-wrap h1 span {
    font-size: 3.75rem;
  }
}

.banner-wrap .banner-form-wrap form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 600px) {
  .banner-wrap .banner-form-wrap form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.banner-wrap .banner-form-wrap form .custom-form-wrap {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6.6875rem;
  border-radius: 0.375rem 0rem 0rem 0.375rem;
  padding: 1.5625rem;
}

@media screen and (max-width: 600px) {
  .banner-wrap .banner-form-wrap form .custom-form-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    padding: 0;
    border-radius: 0rem;
    margin-bottom: 1.875rem;
    background-color: transparent;
    width: 100%;
  }
}

.banner-wrap .banner-form-wrap form .custom-form-wrap .form-group {
  width: 18.75rem;
  margin-right: 1.5625rem;
  padding-right: 1.5625rem;
  border-right: 1px solid #4b4b4b;
  position: relative;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .banner-wrap .banner-form-wrap form .custom-form-wrap .form-group {
    width: 14.375rem;
  }
}

@media screen and (max-width: 600px) {
  .banner-wrap .banner-form-wrap form .custom-form-wrap .form-group {
    width: 100%;
    height: 5rem;
    padding: 0.9375rem 1.875rem;
    margin-right: 0;
    border-right: 0;
    background-color: #ffffff;
    border-radius: 0.375rem;
    margin-bottom: 0.625rem;
  }
  .banner-wrap .banner-form-wrap form .custom-form-wrap .form-group:last-child {
    margin-bottom: 0;
  }
}

.banner-wrap .banner-form-wrap form .custom-form-wrap .form-group label {
  display: block;
  font-size: 0.75rem;
  color: #1C62A6;
  margin-bottom: 0;
}

@media screen and (max-width: 600px) {
  .banner-wrap .banner-form-wrap form .custom-form-wrap .form-group label {
    font-size: 1rem;
    margin-bottom: 0.625rem;
  }
}

.banner-wrap .banner-form-wrap form .custom-form-wrap .form-group input {
  border: 0;
  padding: 0;
  font-size: 1.25rem;
  color: #4b4b4b;
  height: auto;
}

@media screen and (max-width: 600px) {
  .banner-wrap .banner-form-wrap form .custom-form-wrap .form-group input {
    font-size: 1.5rem;
  }
}

.banner-wrap .banner-form-wrap form .custom-form-wrap .form-group input::-webkit-input-placeholder {
  color: #4b4b4b;
  font-size: 1.25rem;
}

.banner-wrap .banner-form-wrap form .custom-form-wrap .form-group input:-ms-input-placeholder {
  color: #4b4b4b;
  font-size: 1.25rem;
}

.banner-wrap .banner-form-wrap form .custom-form-wrap .form-group input::-ms-input-placeholder {
  color: #4b4b4b;
  font-size: 1.25rem;
}

.banner-wrap .banner-form-wrap form .custom-form-wrap .form-group input::placeholder {
  color: #4b4b4b;
  font-size: 1.25rem;
}

@media screen and (max-width: 600px) {
  .banner-wrap .banner-form-wrap form .custom-form-wrap .form-group input::-webkit-input-placeholder {
    font-size: 1.5rem;
  }
  .banner-wrap .banner-form-wrap form .custom-form-wrap .form-group input:-ms-input-placeholder {
    font-size: 1.5rem;
  }
  .banner-wrap .banner-form-wrap form .custom-form-wrap .form-group input::-ms-input-placeholder {
    font-size: 1.5rem;
  }
  .banner-wrap .banner-form-wrap form .custom-form-wrap .form-group input::placeholder {
    font-size: 1.5rem;
  }
}

.banner-wrap .banner-form-wrap form .custom-form-wrap .form-group span {
  position: absolute;
  top: 0.625rem;
  right: 1.25rem;
  color: #1C62A6;
  font-size: 1.375rem;
}

@media screen and (max-width: 600px) {
  .banner-wrap .banner-form-wrap form .custom-form-wrap .form-group span {
    top: 0.9375rem;
  }
}

.banner-wrap .banner-form-wrap form button {
  height: 6.6875rem;
  color: rgba(255, 255, 255, 0.59);
  border-radius: 0rem 0.375rem 0.375rem 0rem;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 13.4375rem;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 1.25rem;
}

@media screen and (max-width: 600px) {
  .banner-wrap .banner-form-wrap form button {
    height: 4.6875rem;
    border-radius: 0.375rem;
  }
}

.banner-wrap .banner-form-wrap form button:hover {
  color: #ffffff;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: left;
  letter-spacing: 1.2px;
  line-height: 3.125rem;
  margin-bottom: 3.75rem;
  position: relative;
}

h2::after {
  content: '';
  position: absolute;
  width: 150%;
  height: 2px;
  background-color: #1C62A6;
  left: 0;
  bottom: -1.25rem;
}

.aboutus-main-wrap {
  position: relative;
  padding-bottom: 3.75rem;
  overflow: hidden;
}

@media screen and (max-width: 1100px) {
  .aboutus-main-wrap {
    padding-top: 3.75rem;
  }
}

.aboutus-main-wrap span {
  position: absolute;
}

.aboutus-main-wrap span.white-rectangle {
  background-color: #ffffff;
  width: 100%;
  height: 10rem;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.aboutus-main-wrap span.white-triangle {
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 380px solid #ffffff;
  border-right: 850px solid transparent;
  z-index: 12;
}

@media screen and (max-width: 1360px) {
  .aboutus-main-wrap span.white-triangle {
    border-bottom: 280px solid #ffffff;
  }
}

@media screen and (max-width: 991px) {
  .aboutus-main-wrap span.white-triangle {
    border-bottom: 235px solid #ffffff;
    border-right: 560px solid transparent;
  }
}

.aboutus-main-wrap span.home-icon {
  z-index: 12;
  width: 5.625rem;
  height: 5.625rem;
  background-color: #E4EFF9;
  bottom: 2.5rem;
  right: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.aboutus-main-wrap span.home-icon img {
  width: 2.5rem;
  height: 2.5rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.aboutus-main-wrap::after {
  content: '';
  background-image: url(../images/about-banner.png);
  background-position-y: 0%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 9;
}

@media screen and (max-width: 1100px) {
  .aboutus-main-wrap::after {
    content: none;
  }
}

.aboutus-main-wrap::before {
  content: '';
  background: #a19f9f;
  background: linear-gradient(358deg, #a19f9f 0%, #afafaf 70%, rgba(255, 255, 255, 0) 100%);
  height: 100%;
  width: 100%;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 10;
}

.aboutus-main-wrap .aboutus-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 99;
}

@media screen and (max-width: 767px) {
  .aboutus-main-wrap .aboutus-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.aboutus-main-wrap .aboutus-wrap .aboutus-right-wrap {
  width: calc(50% - 35px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1360px) {
  .aboutus-main-wrap .aboutus-wrap .aboutus-right-wrap {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 767px) {
  .aboutus-main-wrap .aboutus-wrap .aboutus-right-wrap {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .aboutus-main-wrap .aboutus-wrap .aboutus-right-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.aboutus-main-wrap .aboutus-wrap .aboutus-right-wrap .aboutus-pic-main-wrap {
  width: calc(50% - 35px);
}

@media screen and (max-width: 1360px) {
  .aboutus-main-wrap .aboutus-wrap .aboutus-right-wrap .aboutus-pic-main-wrap {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 600px) {
  .aboutus-main-wrap .aboutus-wrap .aboutus-right-wrap .aboutus-pic-main-wrap {
    width: 100%;
  }
}

.aboutus-main-wrap .aboutus-wrap .aboutus-right-wrap .aboutus-pic-main-wrap .aboutus-pic-wrap {
  padding: 2.5rem 3.125rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 20px 40px #5030200D;
          box-shadow: 0px 20px 40px #5030200D;
  border-radius: 5px;
}

@media screen and (max-width: 1360px) {
  .aboutus-main-wrap .aboutus-wrap .aboutus-right-wrap .aboutus-pic-main-wrap .aboutus-pic-wrap {
    padding: 1.25rem 1.5625rem;
  }
}

@media screen and (max-width: 559px) {
  .aboutus-main-wrap .aboutus-wrap .aboutus-right-wrap .aboutus-pic-main-wrap .aboutus-pic-wrap {
    margin-bottom: 1.875rem;
    padding: 2.5rem 3.125rem;
  }
}

.aboutus-main-wrap .aboutus-wrap .aboutus-right-wrap .aboutus-pic-main-wrap .aboutus-pic-wrap img {
  margin-bottom: 1.25rem;
}

.aboutus-main-wrap .aboutus-wrap .aboutus-right-wrap .aboutus-pic-main-wrap .aboutus-pic-wrap h3 {
  margin-bottom: 0.625rem;
}

@media screen and (max-width: 600px) {
  .aboutus-main-wrap .aboutus-wrap .aboutus-right-wrap .aboutus-pic-main-wrap .aboutus-pic-wrap h3 {
    font-size: 1.5rem;
  }
}

.aboutus-main-wrap .aboutus-wrap .aboutus-right-wrap .aboutus-pic-main-wrap .aboutus-pic-wrap p {
  font-size: 1rem;
  line-height: 1.3;
}

@media screen and (max-width: 600px) {
  .aboutus-main-wrap .aboutus-wrap .aboutus-right-wrap .aboutus-pic-main-wrap .aboutus-pic-wrap p {
    font-size: 1.25rem;
  }
}

.aboutus-main-wrap .aboutus-wrap .aboutus-left-wrap {
  width: calc(50% - 35px);
}

@media screen and (max-width: 1360px) {
  .aboutus-main-wrap .aboutus-wrap .aboutus-left-wrap {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 767px) {
  .aboutus-main-wrap .aboutus-wrap .aboutus-left-wrap {
    width: 100%;
  }
}

.aboutus-main-wrap .aboutus-wrap .aboutus-left-wrap p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
  width: 70%;
}

@media screen and (max-width: 1360px) {
  .aboutus-main-wrap .aboutus-wrap .aboutus-left-wrap p {
    width: 100%;
  }
}

@media screen and (max-width: 599px) {
  .aboutus-main-wrap .aboutus-wrap .aboutus-left-wrap p {
    font-size: 1.375rem;
  }
}

.aboutus-main-wrap .aboutus-wrap .aboutus-left-wrap button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.15);
  border-radius: 0.375rem;
}

.aboutus-main-wrap .aboutus-wrap .aboutus-left-wrap button img {
  margin-left: 0.625rem;
  width: 1.25rem;
}

.aboutus-main-wrap.feature-stripe-wrap {
  background-color: #4B4B4B2E;
  background-image: url(../images/feature-stripe.svg);
  background-size: cover;
  padding: 7.3125rem 0 6.875rem 0;
}

.aboutus-main-wrap.feature-stripe-wrap::after, .aboutus-main-wrap.feature-stripe-wrap::before {
  content: none;
}

.aboutus-main-wrap.feature-stripe-wrap h2 {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .aboutus-main-wrap.feature-stripe-wrap h2 {
    text-align: left;
  }
}

.aboutus-main-wrap.feature-stripe-wrap h2::after {
  width: 52%;
  left: -15%;
  bottom: 16px;
}

@media screen and (max-width: 1024px) {
  .aboutus-main-wrap.feature-stripe-wrap h2::after {
    left: -18%;
    bottom: 13px;
  }
}

@media screen and (max-width: 767px) {
  .aboutus-main-wrap.feature-stripe-wrap h2::after {
    left: -54%;
  }
}

.aboutus-main-wrap.feature-stripe-wrap .aboutus-wrap {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.aboutus-main-wrap.feature-stripe-wrap .aboutus-wrap .aboutus-left-wrap {
  width: calc(38% - 35px);
}

@media screen and (max-width: 1360px) {
  .aboutus-main-wrap.feature-stripe-wrap .aboutus-wrap .aboutus-left-wrap {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 767px) {
  .aboutus-main-wrap.feature-stripe-wrap .aboutus-wrap .aboutus-left-wrap {
    width: 100%;
    margin-bottom: 3.125rem;
  }
}

.aboutus-main-wrap.feature-stripe-wrap .aboutus-wrap .aboutus-left-wrap h3 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 3.125rem;
}

.aboutus-main-wrap.feature-stripe-wrap .aboutus-wrap .aboutus-left-wrap p {
  width: 100%;
  line-height: 2.1875rem;
  margin-bottom: 2.5rem;
}

@media screen and (max-width: 599px) {
  .aboutus-main-wrap.feature-stripe-wrap .aboutus-wrap .aboutus-left-wrap p {
    font-size: 1.375rem;
  }
}

.aboutus-main-wrap.feature-stripe-wrap .aboutus-wrap .aboutus-right-wrap .aboutus-pic-main-wrap .aboutus-pic-wrap {
  padding: 2.125rem;
}

@media screen and (max-width: 991px) {
  .aboutus-main-wrap.feature-stripe-wrap .aboutus-wrap .aboutus-right-wrap .aboutus-pic-main-wrap .aboutus-pic-wrap {
    padding: 1.25rem;
  }
}

.aboutus-main-wrap.feature-stripe-wrap .aboutus-wrap .aboutus-right-wrap .aboutus-pic-main-wrap .aboutus-pic-wrap img {
  width: 3.75rem;
  height: 3.75rem;
}

.aboutus-main-wrap.feature-stripe-wrap .aboutus-wrap .aboutus-right-wrap .aboutus-pic-main-wrap .aboutus-pic-wrap h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

.aboutus-main-wrap.feature-stripe-wrap .aboutus-wrap .aboutus-right-wrap .aboutus-pic-main-wrap .aboutus-pic-wrap p {
  line-height: 2.1875rem;
  margin-bottom: 0;
}

.aboutus-main-wrap.feature-stripe-wrap .aboutus-wrap .aboutus-right-wrap .aboutus-pic-main-wrap .aboutus-pic-wrap:hover, .aboutus-main-wrap.feature-stripe-wrap .aboutus-wrap .aboutus-right-wrap .aboutus-pic-main-wrap .aboutus-pic-wrap.active {
  background-color: #1C62A6;
  transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
}

.aboutus-main-wrap.feature-stripe-wrap .aboutus-wrap .aboutus-right-wrap .aboutus-pic-main-wrap .aboutus-pic-wrap:hover h3, .aboutus-main-wrap.feature-stripe-wrap .aboutus-wrap .aboutus-right-wrap .aboutus-pic-main-wrap .aboutus-pic-wrap.active h3 {
  color: #ffffff;
  transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
}

.aboutus-main-wrap.feature-stripe-wrap .aboutus-wrap .aboutus-right-wrap .aboutus-pic-main-wrap .aboutus-pic-wrap:hover p, .aboutus-main-wrap.feature-stripe-wrap .aboutus-wrap .aboutus-right-wrap .aboutus-pic-main-wrap .aboutus-pic-wrap.active p {
  color: #ffffff;
  transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
}

.featured-properties-wrap {
  overflow: hidden;
  margin-bottom: 5rem;
}

@media screen and (max-width: 1100px) {
  .featured-properties-wrap {
    padding-top: 5rem;
  }
}

.featured-properties-wrap h2::after {
  width: 30%;
  left: -10%;
}

.featured-properties-wrap p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.1875rem;
  margin-bottom: 0.9375rem;
}

@media screen and (max-width: 599px) {
  .featured-properties-wrap p {
    font-size: 1.375rem;
  }
}

.featured-properties-wrap ul.property-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3.125rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.featured-properties-wrap ul.property-select li {
  font-size: 1.25rem;
  font-weight: 400;
  padding: 0.3125rem 0.625rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.featured-properties-wrap ul.property-select li:last-child {
  margin-right: 0;
}

.featured-properties-wrap ul.property-select li.active {
  color: #1C62A6;
  border-bottom: 2px solid #1C62A6;
}

.featured-properties-wrap .properties-main-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 85%;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .featured-properties-wrap .properties-main-wrap {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .featured-properties-wrap .properties-main-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.featured-properties-wrap .properties-main-wrap h3 {
  font-size: 1.375rem;
  font-weight: 700;
  margin-bottom: 0.9375rem;
}

.featured-properties-wrap .properties-main-wrap .properties-wrap {
  width: calc(33% - 30px);
  max-width: 27.75rem;
  -webkit-box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.15);
  margin-bottom: 3.4375rem;
  border-radius: 0.375rem;
}

@media screen and (max-width: 767px) {
  .featured-properties-wrap .properties-main-wrap .properties-wrap {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 600px) {
  .featured-properties-wrap .properties-main-wrap .properties-wrap {
    width: 100%;
  }
}

.featured-properties-wrap .properties-main-wrap .properties-wrap .property-content-wrap {
  padding: 1.25rem;
}

.featured-properties-wrap .properties-main-wrap .properties-wrap .property-content-wrap .property-aminities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.featured-properties-wrap .properties-main-wrap .properties-wrap .property-content-wrap .property-aminities ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured-properties-wrap .properties-main-wrap .properties-wrap .property-content-wrap .property-aminities ul li {
  padding-right: 1.25rem;
  border-right: 1px solid #50302028;
  margin-right: 1.25rem;
}

@media screen and (max-width: 600px) {
  .featured-properties-wrap .properties-main-wrap .properties-wrap .property-content-wrap .property-aminities ul li {
    font-size: 1.375rem;
  }
}

.featured-properties-wrap .properties-main-wrap .properties-wrap .property-content-wrap .property-aminities ul li:last-child {
  margin-right: 0;
}

.featured-properties-wrap .properties-main-wrap .properties-wrap .property-content-wrap .property-aminities ul li img {
  width: 1.1875rem;
  margin-right: 0.625rem;
}

.featured-properties-wrap .properties-main-wrap .property-btn-wrap {
  max-width: 100%;
  width: 100%;
  text-align: center;
}

.featured-properties-wrap .properties-main-wrap .property-btn-wrap button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: auto;
  margin-top: 1.25rem;
}

.featured-properties-wrap .properties-main-wrap .property-btn-wrap button img {
  width: 1.1875rem;
  min-width: 1.1875rem;
  margin-left: 0.625rem;
}

.our-services-main-wrap {
  padding: 12.5rem 0;
  background-image: url(../images/our-service-stripe.svg);
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1200px) {
  .our-services-main-wrap {
    padding: 6.25rem 0;
  }
}

.our-services-main-wrap h2 {
  text-align: center;
}

.our-services-main-wrap h2::after {
  width: 2px;
  height: 200px;
  left: 50%;
  bottom: auto;
  top: -210px;
}

.our-services-main-wrap .our-service-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .our-services-main-wrap .our-service-wrap {
    width: 100%;
  }
}

.our-services-main-wrap .our-service-wrap .service-block {
  max-width: 17.1875rem;
  min-width: 17.1875rem;
  width: 17.1875rem;
  height: 14.375rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 3px 30px #186AA51A;
          box-shadow: 0px 3px 30px #186AA51A;
  border-radius: 12px;
  margin: 2.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.9375rem 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .our-services-main-wrap .our-service-wrap .service-block {
    max-width: 14.6875rem;
    min-width: 14.6875rem;
    width: 14.6875rem;
    margin: 1.25rem;
  }
}

.our-services-main-wrap .our-service-wrap .service-block span {
  width: 6.6875rem;
  height: 6.6875rem;
  min-width: 6.6875rem;
  min-height: 6.6875rem;
  padding: 1.25rem;
  background-color: #F4F7FA;
  border-radius: 50%;
  margin-bottom: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-services-main-wrap .our-service-wrap .service-block span img {
  width: 3.125rem;
  height: 3.125rem;
}

.our-services-main-wrap .our-service-wrap .service-block p {
  font-size: 1.5rem;
  color: #14395B;
  opacity: 0.75;
  line-height: 1.5625rem;
  text-align: center;
  font-weight: 400;
}

.our-services-main-wrap .our-service-wrap .service-block:hover {
  background-color: #1C62A6;
}

.our-services-main-wrap .our-service-wrap .service-block:hover p {
  color: #ffffff;
  opacity: 1;
}

.buy-sell-property-main-wrap {
  background-color: #4b4b4b;
  text-align: center;
}

.buy-sell-property-main-wrap .container {
  padding-top: 11.25rem;
  padding-bottom: 7.5rem;
  border-bottom: 1px solid #F0E3D0;
}

@media screen and (max-width: 1200px) {
  .buy-sell-property-main-wrap .container {
    padding: 6.25rem 0;
  }
}

.buy-sell-property-main-wrap .container .sell-buy-property-wrap {
  width: 60%;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .buy-sell-property-main-wrap .container .sell-buy-property-wrap {
    width: 100%;
  }
}

.buy-sell-property-main-wrap .container .sell-buy-property-wrap h2 {
  color: #ffffff;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.125rem;
  margin-bottom: 1.875rem;
  text-align: center;
}

.buy-sell-property-main-wrap .container .sell-buy-property-wrap h2::after {
  content: none;
}

.buy-sell-property-main-wrap .container .sell-buy-property-wrap p {
  margin-bottom: 5.3125rem;
  font-size: 1rem;
  line-height: 2.1875rem;
  font-weight: 300;
  color: #ffffff;
}

@media screen and (max-width: 599px) {
  .buy-sell-property-main-wrap .container .sell-buy-property-wrap p {
    font-size: 1.375rem;
  }
}

.buy-sell-property-main-wrap .container .sell-buy-property-wrap .sell-buy-button-property-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .buy-sell-property-main-wrap .container .sell-buy-property-wrap .sell-buy-button-property-wrap {
    width: 95%;
  }
}

.buy-sell-property-main-wrap .container .sell-buy-property-wrap .sell-buy-button-property-wrap span {
  width: 4.6875rem;
  height: 0.0625rem;
  background-color: #ffffff;
  display: inline-block;
}

.contact-container {
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 991px) {
  .contact-container {
    width: 100%;
  }
}

.contactus-wrap {
  padding: 12.5rem 0 9.375rem 0;
  background-color: #E4E4E4;
  margin-top: -9.125rem;
  position: relative;
  overflow: hidden;
}

.contactus-wrap > img.contact-shape {
  position: absolute;
  top: -3.125rem;
  left: 0;
  height: 37.5rem;
  width: 62.5rem;
}

@media screen and (max-width: 991px) {
  .contactus-wrap .contact-container {
    text-align: center;
  }
}

.contactus-wrap .contact-container h1 {
  font-size: 3.1875rem;
  font-weight: 700;
  color: #1C62A6;
  margin-bottom: 2.5rem;
}

.contactus-wrap .contact-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 991px) {
  .contactus-wrap .contact-container ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contactus-wrap .contact-container ul li {
  font-weight: 500;
  font-size: 1.25rem;
  margin-right: 1.875rem;
  position: relative;
}

.contactus-wrap .contact-container ul li a {
  cursor: pointer;
  color: #1C62A6;
}

.contactus-wrap .contact-container ul li::after {
  content: '';
  position: absolute;
  width: 0.625rem;
  height: 1px;
  background-color: #4b4b4b;
  top: 0.625rem;
  right: -1.25rem;
}

.contactus-wrap .contact-container ul li:last-child {
  cursor: auto;
}

.contactus-wrap .contact-container ul li:last-child::after {
  content: none;
}

.contactus-wrap .contact-container ul li.active {
  color: #1C62A6;
}

.contact-form-main-wrap {
  padding: 9.375rem 0;
}

@media screen and (max-width: 767px) {
  .contact-form-main-wrap {
    padding: 6.25rem 0;
  }
}

.contact-form-main-wrap .contact-item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8.125rem;
}

@media screen and (max-width: 767px) {
  .contact-form-main-wrap .contact-item-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 3.75rem;
  }
}

.contact-form-main-wrap .contact-item-wrap .contact-item {
  width: 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .contact-form-main-wrap .contact-item-wrap .contact-item {
    width: 100%;
    margin-bottom: 1.25rem;
  }
}

.contact-form-main-wrap .contact-item-wrap .contact-item .contact-item-right {
  margin-right: 1.875rem;
}

.contact-form-main-wrap .contact-item-wrap .contact-item .contact-item-right span {
  width: 6.25rem;
  height: 6.25rem;
  background-color: #F1F8FF;
  border-radius: 0.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-form-main-wrap .contact-item-wrap .contact-item .contact-item-right span img {
  width: 3.125rem;
  height: 3.125rem;
}

.contact-form-main-wrap .contact-item-wrap .contact-item .contact-item-left h3 {
  color: #1C62A6;
  margin-bottom: 0.625rem;
}

.contact-form-main-wrap .contact-item-wrap .contact-item .contact-item-left p {
  color: #616C75;
  font-size: 1.125rem;
  margin-bottom: 0.625rem;
}

.contact-form-main-wrap .contact-item-wrap .contact-item .contact-item-left p a {
  color: #616C75;
  font-size: 1.125rem;
}

.contact-form-main-wrap .contact-form-wrap {
  text-align: center;
}

.contact-form-main-wrap .contact-form-wrap h3 {
  color: #1C62A6;
  font-size: 2.625rem;
  margin-bottom: 1.25rem;
  font-weight: 700;
}

.contact-form-main-wrap .contact-form-wrap p {
  font-size: 1rem;
  color: #454D5D;
  line-height: 1.875rem;
  width: 50%;
  margin: auto;
  margin-bottom: 3.125rem;
}

@media screen and (max-width: 767px) {
  .contact-form-main-wrap .contact-form-wrap p {
    width: 100%;
  }
}

.contact-form-main-wrap .contact-form-wrap form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 599px) {
  .contact-form-main-wrap .contact-form-wrap form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact-form-main-wrap .contact-form-wrap form .form-group {
  margin-bottom: 1.25rem;
}

.contact-form-main-wrap .contact-form-wrap form .form-group:last-child {
  margin-bottom: 0;
}

.contact-form-main-wrap .contact-form-wrap form .form-group input {
  width: 100%;
  background-color: #F1F8FF;
  border: 0;
}

.contact-form-main-wrap .contact-form-wrap form .form-group textarea {
  width: 100%;
  background-color: #F1F8FF;
  border: 0;
}

.contact-form-main-wrap .contact-form-wrap form button {
  border-radius: 1.5625rem;
  padding: 1.25rem 2.5rem;
}

.contact-form-main-wrap .contact-form-wrap form .contact-form-right {
  width: calc(40% - 10px);
}

@media screen and (max-width: 599px) {
  .contact-form-main-wrap .contact-form-wrap form .contact-form-right {
    width: 100%;
    margin-bottom: 1.25rem;
  }
}

.contact-form-main-wrap .contact-form-wrap form .contact-form-left {
  width: calc(60% - 10px);
}

@media screen and (max-width: 599px) {
  .contact-form-main-wrap .contact-form-wrap form .contact-form-left {
    width: 100%;
  }
}

.error-main-wrap {
  padding: 12.5rem 0;
  background-image: url(../images/our-service-stripe.svg);
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .error-main-wrap {
    padding: 6.25rem 0;
  }
}

.error-main-wrap .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.error-main-wrap .container img.error-image {
  width: 31.25rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 6.25rem;
}

.error-main-wrap .container button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error-main-wrap .container button a {
  color: #ffffff;
}

.error-main-wrap .container button img {
  width: 1.875rem;
  min-width: 1.875rem;
  margin-right: 0.9375rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
/*# sourceMappingURL=main.css.map */